@page "/{culture}/Admin/Users/Compo/ChangeAccessLevel"
@model PrancaBeauty.WebApp.Pages.Admin.Users.Components.Compo_ChanageAccessLevelModel
<!-- Modal -->
<div class="modal fade" id="ChangeAccessLevel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Localizer["ChangeAccessLevel"]</h5>
            </div>
            <div class="modal-body">
                <div class="k-lang">
                    @(Html.Kendo()
                      .ComboBox()
                      .Name("Input.AccessLevelId")
                      .HtmlAttributes(new { @class= "form-control",style="width:100%;height:35px;" })
                      .Placeholder(Localizer["PleseSelect"])
                      .DataTextField("Name")
                      .DataValueField("Id")
                      .Value(Model.Input.AccessLevelId)
                      .DataSource(sr => {
                          sr.Read(read =>
                          {
                              read.Url($"/{ViewData["culture"]}/Admin/Users/Compo/ChangeAccessLevel?handler=Read");
                          });
                      }).Template("<div>#=Name#</div>"))
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="Close()">@Localizer["Close"]</button>
                <button type="button" onclick="SaveAccessLevel()" class="btn btn-primary">@Localizer["Save"]</button>
            </div>
        </div>
    </div>
</div>

<script>
    function SaveAccessLevel() {
        var _AccessLeveId = $('#Input_AccessLevelId').val();
        SendData('/@ViewData["Culture"]/Admin/Users/Compo/ChangeAccessLevel', { UserId: '@Model.Input.UserId', AccessLevelId: _AccessLeveId });
    }

    function Close() {
        $('#ChangeAccessLevel').remove();
        $('.modal-backdrop').remove()
    }
</script>