@page "/{culture}/Admin/Slider/List"
@model PrancaBeauty.WebApp.Pages.Admin.Slider.ListSliderModel
@{
    ViewData["Title"] = Localizer["ListSlider"];
    Layout = "~/pages/shared/_AdminLayout.cshtml";
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">@ViewData["Title"]</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/@CultureInfo.CurrentCulture.Parent.Name/admin/index">@Localizer["Dashborad"]</a></li>
                        <li class="breadcrumb-item active">@ViewData["Title"]</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="k-lang">
                                @(Html.Kendo()
                                .Grid<vmSliderList>()
                                .Name("ListSlider")
                                .DefaultSettings(Localizer)
                                .Columns(col=> {
                                col.Bound(a => a.Id).Hidden().HtmlAttributes(new { @class = "RowId" }).Sortable(false);
                                col.Bound(a => a.ImgUrl).HtmlAttributes(new { style="text-align:center;" }).Width(60).Title(" ").ClientTemplate("<img style='width:128px;' src='#=ImgUrl#' />").Sortable(false);
                                col.Bound(a => a.Title).Sortable(false);
                                col.Bound(a => a.Url).Sortable(false).ClientTemplate($"<a href='#=Url#'>{Localizer["Link"]}</a>");
                                col.Bound(a => a.Sort).Sortable(false);
                                col.Bound(a => a.IsEnable).Sortable(false).Width(60).Title(" ").ClientTemplate("<img style='width:28px;' src='/Shared/img/#=IsEnable#.png' />").Sortable(false);
                                col.Bound(a => a.IsActive).Sortable(false).Width(60).Title(" ").ClientTemplate("<img style='width:28px;' src='/Shared/img/#=IsActive#.png' />").Sortable(false);
                                col.Bound(a => a.StartDate).Sortable(false);
                                col.Bound(a => a.EndDate).Sortable(false);
                                col.Bound(a => a).Width(50).Title(" ")
                                .HtmlAttributes(new { style= "overflow: visible; text-align: center;" })
                                .ClientHeaderTemplate("<button class='btn btn-primary btn-sm mr-1 ml-1' onclick='SearchModal()'><i class='fa fa-search'></i></button>"+(User.IsInRole(Roles.CanAddSlide)? "<button class='btn btn-success btn-sm' onclick='Add()'><i class='fa fa-plus'></i></button>" : ""))
                                .ClientTemplateId("DropDownCmd");
                                })
                                .DataSource(ds=>ds.Ajax()
                                .PageSize(10)
                                .Read(read=>read.Url($"/{CultureInfo.CurrentCulture.Parent.Name}/Admin/Slider/List?handler=ReadData").Data("forgeryToken"))))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>

<div class="modal ModalSearch" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Localizer["SearchSlider"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" asp-for="Input.Title" id="txtSearchTitle" class="form-control form-control-sm" placeholder="@Localizer["Title"]" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="Search();" class="btn btn-primary">@Localizer["Search"]</button>
                <button type="button" onclick="ResetSearch()" class="btn btn-secondary" data-dismiss="modal">@Localizer["Reset"]</button>
            </div>
        </div>
    </div>
</div>

<script id="DropDownCmd">
    <div class="item-action dropdown">
        <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i class="fa fa-bars fs-16 text-dark"></i></a>
        <div class="dropdown-menu dropdown-menu-left">
    @if (User.IsInRole(Roles.CanEditSlide))
    {
         <a href="/@ViewData["Culture"]/Admin/Slider/Edit/#:Id#?ReturnUrl=@Request.GetCurrentUrl()" class="dropdown-item"><i class="dropdown-icon fa fa-edit"></i>@Localizer["Edit"]</a>
    }
    @if (User.IsInRole(Roles.CanRemoveSlide))
    {
         <a onClick="Remove('#:Id#')" class="dropdown-item"><i class="dropdown-icon fa fa-times"></i>@Localizer["Remove"]</a>
    }
        </div>
    </div>
</script>

@if (User.IsInRole(Roles.CanAddSlide))
{
    <script>
        function Add() {
            location.href = '/@ViewData["Culture"]/Admin/Slider/Add?ReturnUrl=@(System.Net.WebUtility.UrlEncode(Request.GetCurrentUrl()))';
        }
    </script>
}

@if (User.IsInRole(Roles.CanRemoveSlide))
{
    <script>
        function Remove(_Id) {
            RemoveData('/@ViewData["Culture"]/Admin/Slider/List?handler=Remove', {Id:_Id});
        }
    </script>
}

<script>
    function RefreshData() {
        RefreshGrid('ListSlider');
    }

    function Search() {
        var _Title = $('#txtSearchTitle').val();

        var _Grid = $('#ListSlider').data('kendoGrid');
        _Grid.dataSource.transport.options.read.url = '/@CultureInfo.CurrentCulture.Parent.Name/Admin/Slider/List?handler=ReadData&Title=' + _Title;
        _Grid.dataSource.read();
        _Grid.refresh();
    }

    function SearchModal()
     {
         $('.ModalSearch').modal({keyboard: false,backdrop:'static'});
     }

     function ResetSearch()
     {
         $('#txtSearchTitle').val(null);
         Search();
     }
</script>
