@page "/{culture}/Admin/ShowcaseTabSection/Add/FreeItem/{ShowcaseId}/{ShowcaseTabId}/{ShowcaseTabSectionId}"
@model PrancaBeauty.WebApp.Pages.Admin.Showcases.Tabs.TabSections.SectionItems.Add.AddSectionFreeItemModel
@{
    ViewData["Title"] = Localizer["AddShowcaseTabSectionFreeItem"];
    Layout = "~/pages/shared/_AdminLayout.cshtml";
}
@inject PrancaBeauty.Application.Apps.Languages.ILanguageApplication _LanguageApplication

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-3">
                    <h1 class="m-0 text-dark">@ViewData["Title"]</h1>
                </div><!-- /.col -->
                <div class="col-sm-9">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/@CultureInfo.CurrentCulture.Parent.Name/admin/index">@Localizer["Dashborad"]</a></li>
                        <li class="breadcrumb-item"><a href="/@CultureInfo.CurrentCulture.Parent.Name/Admin/Showcase/List">@Localizer["ListShowcase"]</a></li>
                        <li class="breadcrumb-item"><a href="/@CultureInfo.CurrentCulture.Parent.Name/Admin/ShowcaseTabs/List/@ViewData["ShowcaseId"]">@Localizer["ListShowcaseTab"]</a></li>
                        <li class="breadcrumb-item"><a href="/@CultureInfo.CurrentCulture.Parent.Name/Admin/ShowcaseTabSection/List/@ViewData["ShowcaseId"]/@ViewData["ShowcaseTabId"]">@Localizer["ListShowcaseTabSection"]</a></li>
                        <li class="breadcrumb-item"><a href="@ViewData["ReturnUrl"]">@Localizer["ListShowcaseTabSectionItem"]</a></li>
                        <li class="breadcrumb-item active">@ViewData["Title"]</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                             <form id="frmAddShowcaseTabSectionItemId">
                                <input asp-for=Input.ShowcaseTabSectionId type="hidden" />
                                <div class="form-group">
                                    <div class="row">
                                        <div class=col-md-6>
                                            <label asp-for=Input.Name></label>
                                            <input asp-for=Input.Name class=form-control />
                                        </div>
                                    </div>
                                </div>
                                <div class="k-lang">
                                    @(Html.Kendo().TabStrip()
                                    .Name("Tab_Lang")
                                    .TabPosition(TabStripTabPosition.Top)
                                    .Animation(animation =>
                                    {
                                    animation.Open(config =>
                                    {
                                    config.Fade(FadeDirection.In);
                                    });
                                    })
                                    .SelectedIndex(0)
                                    .Items(async items =>
                                    {
                                    int i = 0;
                                    foreach (var item in Model.Input.LstTranslate)
                                    {
                                        var qLang =await _LanguageApplication.GetLangDetailsByIdAsync(new PrancaBeauty.Application.Contracts.ApplicationDTO.Languages.InpGetLangDetailsById { LangId= item.LangId });
                                        items.Add()
                                                .ImageUrl(qLang.FlagUrl)
                                                .Text(qLang.NativeName)
                                                .Content(@<text>
                                                            <input type="hidden" asp-for="Input.LstTranslate[i].LangId" />
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <label asp-for="Input.LstTranslate[i].Title"></label>
                                                                        <input asp-for="Input.LstTranslate[i].Title" class="form-control" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <label asp-for="Input.LstTranslate[i].Url"></label>
                                                                        <input asp-for="Input.LstTranslate[i].Url" class="form-control text-left" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <label asp-for="Input.LstTranslate[i].FileId"></label>
                                                                        <LoadComponent id="ImagesCompo_@(i)"
                                                                                       context="HttpContext"
                                                                                       data='new viCompo_FileSelector {ContainerId="ImagesCompo_"+i ,FieldName="Input.LstTranslate["+i+"].FileId",MaxFileCount=1, MaxFileSize=2097152 /* 2 MB */,AllowedMimeType="image/jpg, image/jpeg, image/png"}'
                                                                                       url="/@ViewData["culture"]/Shared/Compo/ComboFileSelector"></LoadComponent>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <label asp-for="Input.LstTranslate[i].HtmlText"></label>
                                                                        <textarea rows="5" asp-for="Input.LstTranslate[i].HtmlText" class="form-control text-left" ></textarea>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            
                                                            @{
                                                                i++;
                                                            }
                                                           </text>);
                                    }

                                    }))
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12 text-left">
                                            <hr />
                                            <button onclick="SendForm('/@ViewData["Culture"]/Admin/ShowcaseTabSection/Add/FreeItem/@ViewData["ShowcaseId"]/@ViewData["ShowcaseTabId"]/@ViewData["ShowcaseTabSectionId"]', 'frmAddShowcaseTabSectionItemId')" type="button" class="btn btn-success">@Localizer["Save"]</button>
                                            <button onclick="GotoList()" type="button" class="btn btn-warning">@Localizer["GotoList"]</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>

@section styles{

}

@section scripts{

<script>
    function GotoList() {
        location.href = '@ViewData["ReturnUrl"]';
    }
</script>
}