@page "/{culture}/Search/Compo/KeywordSearchAutoComplete"
@model PrancaBeauty.WebApp.Pages.Home.Search.Components.Compo_Keyword.Compo_KeywordSearchAutoCompleteModel

@if (Model.Data==null)
{
    <div class="alert alert-light text-center">
        @Localizer["ItemNotFound"]
    </div>
}
else
{
    if (Model.Data.LstProducts.Count()>0)
    {
        <div id=AutoCompleteProduct class="Products owl-carousel">
            @foreach (var item in Model.Data.LstProducts)
            {
                <a onclick="SetStatistics('Product','@item.Id')" href="/@ViewData["culture"]/Product/@item.Name">
                    <div class="Item">
                        <div class="Image">
                            <img src="@item.ImgUrl" alt="@item.Title">
                        </div>
                        <div class="Title">@item.Title</div>
                    </div>
                </a>
            }
        </div>
        <script>
            $(document).ready(function(){LoadSlider('AutoCompleteProduct',2,2,2,2,1);});
        </script>
    }

    if (Model.Data.LstRelatedWords.Count()>0)
    {
        <div class="Words">
            <h3>@Localizer["TopSearchword"]</h3>
            @foreach (var item in Model.Data.LstRelatedWords)
            {
                <div class="Item">
                    <div onclick="SetAutoCompleteInput('@item.Title')" class="Title"><a href="#">@item.Title</a></div>
                </div>
            }
        </div>
    }

    if (Model.Data.LstRelatedCategory.Count()>0)
    {
        <div class="Caregories">
            @foreach (var item in Model.Data.LstRelatedCategory)
            {
                <div class="Item">
                    <a href="/@ViewData["culture"]/Search/@item.Name">
                        <div class="Title">@item.Title</div>
                        <div class="ParentTitle"><span>@Localizer["InCategory"] </span><span>@item.ParentTitle</span></div>
                    </a>
                </div>
            }
        </div>
    }

    if (Model.Data.LstRelatedKeywords.Count()>0)
    {
        <div class="Keywords">
            @foreach (var item in Model.Data.LstRelatedKeywords)
            {
                <div class="Item">
                    <i class="fa fa-search"></i>
                    <span><a href="#" onclick="SetAutoCompleteInput('@item.Title')">@item.Title</a></span>
                </div>
            }
        </div>
    }

}