@page "/{culture}/Shared/Compo/ComboListProductAsks"
@model PrancaBeauty.WebApp.Pages.Shared.Components.Compo_ProductAsks.Compo_ListProductAsksModel
@{
    Layout = null;
}

<div class="row">
    <div class="col-md-4">
        <div class=row>
            <div class=col-md-12>
                @Localizer["AskNotice"]
            </div>
            <div class=col-md-12>
                <div class=col-md-12>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class=form-group>
                            <button onclick="ShowNewAskModal()" class="btn btn-outline-info btn-block">@Localizer["AddNewAsk"]</button>
                        </div>
                    }
                    else
                    {
                        <div class="btnLoginArea">
                            <span class="text-danger text-center">
                                @Localizer["PleaseLoginForAddNewAsk"]
                            </span>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-8">
        <div class="reviews_wrapper">

            <div class="reviews_comment_box">
                <div class="comment_thmb">
                    <img src="/Main/img/blog/comment2.jpg" alt="">
                </div>
                <div class="comment_text">
                    <div class="reviews_meta">
                        <p><strong>admin </strong></p>
                        <span>در این بخش سوال کاربر خریدار به نمایش گذاشته خواهد شد</span>
                    </div>

                    <div class="reviews_answer">
                        <p>@Localizer["Answer"]:<strong>admin </strong></p>
                        <span>در این بخش پاسخ اول نمایش داده میشود</span>
                        <div class=star_rating>
                            <button onclick="Like('')" class="btn btn-link">
                                <i class="fa fa-thumbs-up"></i>
                                <span id="">10</span>
                            </button>

                            <button onclick="DisLike('')" class="btn btn-link">
                                <i class="fa fa-thumbs-down"></i>
                                <span id="">10</span>
                            </button>
                        </div>
                    </div>

                    <div class="reviews_answer">
                        <p>@Localizer["Answer"]: <strong>admin </strong></p>
                        <span>در این بخش پاسخ دوم نمایش داده میشود</span>
                        <div class=star_rating>
                            <button onclick="Like('')" class="btn btn-link">
                                <i class="fa fa-thumbs-up"></i>
                                <span id="">10</span>
                            </button>

                            <button onclick="DisLike('')" class="btn btn-link">
                                <i class="fa fa-thumbs-down"></i>
                                <span id="">10</span>
                            </button>
                        </div>
                    </div>

                    <div class="reviews_answer">
                        <button type="button" class="btn btn-link">@Localizer["AddNewAnswer"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>