@page "/{culture}/Shared/Compo/CartWidgetMain"
@model PrancaBeauty.WebApp.Pages.Shared.Components.Compo_CartWidget.Compo_CartWidgetMainModel

<div class="header_account_list mini_cart_wrapper">
    <a href="javascript:void(0)">
        <i class="fa-xs fas fa-shopping-cart"></i>
        @if (Model.Data!=null)
        {
            <span class="cart_itemtext"></span>
            <span class="cart_itemtotal">@Model.Data.TotalAmount.ToN3() @Model.Data.CurrencySymbol</span>
            <span class="item_count">@Model.Data.CountInCart</span>
        }
    </a>
    <!--mini cart-->
    <div class="mini_cart">
        @if (Model.Data==null)
        {
            <div class="alert alert-info">
                @Localizer["ItemNotFound"]
            </div>
        }
        else
        {
            <div class="cart_gallery">
                @foreach (var item in Model.Data.Items)
                {
                    <div class="cart_item">
                        <div class="cart_img">
                            <img src="@item.ProductImgUrl" alt="@item.ProductTitle">
                        </div>
                        <div class="cart_info">
                            <a href="/@ViewData["culture"]/Product/@item.ProductName">@item.ProductTitle</a>
                            <p><span>@item.VariantTopic</span><span>@item.VariantTitle</span></p>
                            <p>@item.Qty x <span class="newPrice"> @(item.Price.ToN3()) @Model.Data.CurrencySymbol </span></p>
                            @if (item.PercentSavePrice>0)
                            {
                                <p>
                                    @Localizer["Discount"]:
                                    <span>
                                        (@item.PercentSavePrice%)
                                        <span class="oldPrice">
                                            @(item.OldPrice.ToN3()) @Model.Data.CurrencySymbol
                                        </span>
                                    </span>

                                </p>
                            }
                        </div>
                        <div class="cart_remove">
                            <a href="#" onclick="RemoveData('/' + CurentCulture +'/Cart?handler=Remove', {Id:'@item.Id'});"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                }
            </div>
            <div class="mini_cart_table">
                <div class="cart_table_border">
                    <div class="cart_total">
                        <span>@Localizer["Tax"]:</span>
                        <span class="price">@Model.Data.TaxAmount.ToN3() @Model.Data.CurrencySymbol</span>
                    </div>
                    <div class="cart_total mt-10">
                        <span>@Localizer["ShippingFee"]:</span>
                        <span class="price">@Model.Data.ShippingAmount.ToN3() @Model.Data.CurrencySymbol</span>
                    </div>
                    <div class="cart_total mt-10">
                        <span>@Localizer["TotalPrice"]:</span>
                        <span class="price">@Model.Data.TotalAmount.ToN3() @Model.Data.CurrencySymbol</span>
                    </div>
                </div>
            </div>
            <div class="mini_cart_footer">
                <div class="cart_button">
                    <a href="cart.html"><i class="fa fa-shopping-cart"></i> نمایش سبد</a>
                </div>
                <div class="cart_button">
                    <a href="checkout.html"><i class="fa fa-sign-in"></i> بازبینی</a>
                </div>

            </div>
        }
    </div>
    <!--mini cart end-->
</div>