@page "/{culture}/Cart"
@model PrancaBeauty.WebApp.Pages.Home.CartModel
@{
    ViewData["Title"] = Localizer["ShoppingCart"];
    //ViewData["Descreption"] = Model.Data.MetaDescription;
    //ViewData["canonical"] = Model.Data.MetaCanonical;
    //ViewData["Keywords"] = Model.Data.MetaKeyword;

    Layout = "~/Pages/Shared/_MainLayout.cshtml";
}

<!--breadcrumbs area start-->

<partial name="~/Pages/Shared/Partials/P_breadcrumbs.cshtml" model='new List<viBreadcrumbs>{
        new viBreadcrumbs{ Title=Localizer["Home"], Url=$"/{ViewData["Culture"]}"},
        new viBreadcrumbs{ Title=ViewData["Title"].ToString(), Url=$"/{ViewData["Culture"]}/Cart"}}' />

<!--breadcrumbs area end-->
<!--shopping cart area start -->
<div class="shopping_cart_area">
    <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table_desc">
                        <div class="cart_page table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="product_remove"></th>
                                        <th class="product_thumb">@Localizer["Image"]</th>
                                        <th class="product_name">@Localizer["Title"]</th>
                                        <th class="product-price">@Localizer["Price"]</th>
                                        <th class="product_quantity">@Localizer["Quantity"]</th>
                                        <th class="product_total">@Localizer["TotalPrice"]</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int Counter = 0;
                                        foreach (var item in Model.Data.Items)
                                        {
                                            <tr>
                                                <td class="product_remove"><a href="#" onclick="RemoveData('/'+CurentCulture+'/Cart?handler=Remove',{Id:'@item.Id'})"><i class="fa fa-trash-o"></i></a></td>
                                                <td class="product_thumb"><a href="/@ViewData["culture"]/Product/@item.ProductName"><img src="@item.ProductImgUrl" alt="@item.ProductTitle"></a></td>
                                                <td class="product_name">
                                                    <div class="title"> <a href="/@ViewData["culture"]/Product/@item.ProductName">@item.ProductTitle</a></div>
                                                    <div class="variant"><span>@item.VariantTopic @item.VariantTitle</span></div>
                                                </td>
                                                <td class="product-price">
                                                    <div><span>@item.Price.ToN3() @item.CurrencySymbol</span></div>
                                                    @if (item.PercentSavePrice>0)
                                                    {
                                                        <div class="oldPrice">
                                                            <span>@Localizer["Discount"]: (@item.PercentSavePrice%)</span>
                                                            <span style="text-decoration:line-through;">@item.OldPrice.ToN3() @item.CurrencySymbol</span>
                                                        </div>
                                                    }
                                                </td>
                                                <td class="product_quantity"><label>@Localizer["Quantity"]</label><input form="frmCart" type="hidden" value="@item.Id" asp-for="Input[Counter].Id" /> <input form="frmCart" asp-for="Input[Counter].Qty" value="@item.Qty" /></td>
                                                <td class="product_total">@item.TotalPrice.ToN3() @item.CurrencySymbol</td>
                                            </tr>
                                            Counter++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="cart_submit">
                            <form id="frmCart"></form>
                            <button onclick="SendForm('/@ViewData["culture"]/Cart','frmCart')" type="button">@Localizer["UpdateCart"]</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--coupon code area start-->
            <div class="coupon_area">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="coupon_code left">
                            <h3>Coupon</h3>
                            <div class="coupon_inner">
                                <p>Enter your coupon code if you have one.</p>
                                <input placeholder="Coupon code" type="text">
                                <button type="submit">Apply coupon</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="coupon_code right">
                            <h3>Cart Totals</h3>
                            <div class="coupon_inner">
                                <div class="cart_subtotal">
                                    <p>Subtotal</p>
                                    <p class="cart_amount">£215.00</p>
                                </div>
                                <div class="cart_subtotal ">
                                    <p>Shipping</p>
                                    <p class="cart_amount"><span>Flat Rate:</span> £255.00</p>
                                </div>
                                <a href="#">Calculate shipping</a>

                                <div class="cart_subtotal">
                                    <p>Total</p>
                                    <p class="cart_amount">£215.00</p>
                                </div>
                                <div class="checkout_btn">
                                    <a href="#">Proceed to Checkout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--coupon code area end-->
    </div>
</div>
<!--shopping cart area end -->
<!--brand area start-->
<div class="brand_area brand_padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="brand_container owl-carousel ">
                    <div class="single_brand">
                        <a href="#"><img src="/Main/img/brand/brand1.jpg" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="/Main/img/brand/brand2.jpg" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="/Main/img/brand/brand3.jpg" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="/Main/img/brand/brand4.jpg" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="/Main/img/brand/brand5.jpg" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="/Main/img/brand/brand1.jpg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--brand area end-->
<!--shipping area start-->
<div class="shipping_area shipping_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_shipping">
                    <div class="shipping_icone">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="shipping_content">
                        <h3><a href="tel:(+99)0521282399">(+99) 052 128 2399</a></h3>
                        <p>/ Phone</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_shipping">
                    <div class="shipping_icone">
                        <i class="fa fa-map-marker"></i>
                    </div>
                    <div class="shipping_content">
                        <h3>New York, USA – 1060 Firs Avenue, Muswell Hill</h3>
                        <p>/ Address</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_shipping col3">
                    <div class="shipping_icone">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="shipping_content">
                        <h3><a href="#">bonique@domain.com</a></h3>
                        <p>/ Email</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--shipping area end-->
<script>
    function ReloadPage() {
        location.reload();
    }
</script>