@page "/{culture}/Product/{Name}"
@model PrancaBeauty.WebApp.Pages.Home.ProductDetailsModel
@{
    ViewData["Title"] = Model.Data.Title;
    ViewData["Descreption"] = Model.Data.MetaDescription;
    ViewData["canonical"] = Model.Data.MetaCanonical;
    ViewData["Keywords"] = Model.Data.MetaKeyword;

    Layout = "~/Pages/Shared/_MainLayout.cshtml";
}

<!--breadcrumbs area start-->

<partial name="~/Pages/Shared/Partials/P_breadcrumbs.cshtml" model='new List<viBreadcrumbs>{
        new viBreadcrumbs{ Title=Localizer["Home"], Url=$"/{ViewData["Culture"]}"},
        new viBreadcrumbs{ Title=Model.Data.CategoryTitle, Url=$"/{ViewData["Culture"]}/Search/{Model.Data.CategoryName}"},
        new viBreadcrumbs{ Title=ViewData["Title"].ToString()} }' />

<!--breadcrumbs area end-->
<!--product details start-->
<div class="product_details mb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5">
                <div class="product-details-tab">
                    <div id="img-1" class="zoomWrapper single-zoom">
                        <a href="#">
                            <img id="zoom1" src="@Model.Data.LstMedia.OrderBy(a=>a.Sort).First().MediaUrl" data-zoom-image="@Model.Data.LstMedia.OrderBy(a=>a.Sort).First().MediaUrl" alt="@Model.Data.LstMedia.OrderBy(a=>a.Sort).First().MediaTitle">
                        </a>
                    </div>
                    <div class="single-zoom-thumb">
                        <ul class="s-tab-zoom owl-carousel single-product-active" id="gallery_01">
                            @foreach (var item in Model.Data.LstMedia.OrderBy(a => a.Sort))
                            {
                                <li>
                                    <a href="#" class="elevatezoom-gallery" data-image="@item.MediaUrl" data-zoom-image="@item.MediaUrl">
                                        <img src="@item.MediaUrl" alt="@item.MediaTitle" />
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="product_d_right">
                    <form action="#">
                        <div class="productd_title_nav">
                            <h1><a href="/@ViewData["culture"]/Details/@Model.Data.Name">@Model.Data.Title</a></h1>
                            @*<div class="product_nav">
                                <ul>
                                    <li class="prev"><a href="product-details.html"><i class="fa fa-angle-left"></i></a></li>
                                    <li class="next"><a href="variable-product.html"><i class="fa fa-angle-right"></i></a></li>
                                </ul>
                            </div>*@
                        </div>

                        <div class="product_ratting">
                            <ul>
                                @for (var i = 1; i <= Model.Data.AvgStarRating; i++)
                                {
                                    <li><i class="fa fa-star"></i></li>
                                }
                                @for (var i = Model.Data.AvgStarRating; i <= 5; i++)
                                {
                                    <li><i class="fa fa-star-o"></i></li>
                                }

                                <li class="review"> (@Model.Data.CountUserInStarRating @Localizer["User"])</li>
                            </ul>
                        </div>
                        <div class="price_box">
                            <span class="current_price">@Model.Data.Price.ToN3() @Model.Data.CurrencySymbol</span>
                            @*<span class="old_price">£80.00</span>*@
                        </div>
                        <div class="product_desc">
                            <ul>
                                @foreach (var item in Model.Data.LstProperties)
                                {
                                    <li>
                                        <span class="fw-700">@item.Title</span>
                                        <span>@item.Value</span>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="product_variant color">
                            <h3>Available Options</h3>
                            <label>color</label>
                            <ul>
                                <li class="color1"><a href="#"></a></li>
                                <li class="color2"><a href="#"></a></li>
                                <li class="color3"><a href="#"></a></li>
                                <li class="color4"><a href="#"></a></li>
                            </ul>
                        </div>
                        <div class="product_variant quantity">
                            <label>quantity</label>
                            <input min="1" max="100" value="1" type="number">
                            <button class="button" type="submit">add to cart</button>

                        </div>
                        <div class=" product_d_action">
                            <ul>
                                <li><a href="#" title="Add to wishlist">+ @Localizer["AddToWishlist"]</a></li>
                                <li><a href="#" title="Add to wishlist">+ @Localizer["Compare"]</a></li>
                            </ul>
                        </div>
                        <div class="product_meta">
                            <span class="fw-700">@Localizer["Category"]: <a href="/@ViewData["culture"]/Search/@Model.Data.CategoryName">@Model.Data.CategoryTitle</a></span>
                        </div>

                    </form>
                    <div class="priduct_social">
                        <ul>
                            <li><a class="facebook" href="#" title="facebook"><i class="fa fa-facebook"></i> Like</a></li>
                            <li><a class="twitter" href="#" title="twitter"><i class="fa fa-twitter"></i> tweet</a></li>
                            <li><a class="pinterest" href="#" title="pinterest"><i class="fa fa-pinterest"></i> save</a></li>
                            <li><a class="google-plus" href="#" title="google +"><i class="fa fa-google-plus"></i> share</a></li>
                            <li><a class="linkedin" href="#" title="linkedin"><i class="fa fa-linkedin"></i> linked</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--product details end-->
<!--product info start-->
<div class="product_d_info mb-57">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product_d_inner">
                    <div class="product_info_button">
                        <ul class="nav" role="tablist">
                            <li>
                                <a class="active" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">@Localizer["Description"]</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#Properties" role="tab" aria-controls="sheet" aria-selected="false">@Localizer["Properties"]</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">@Localizer["Reviews",Model.Data.CountReviews]</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#Asks" role="tab" aria-controls="reviews" aria-selected="false">@Localizer["Asks",Model.Data.CountAsk]</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="info" role="tabpanel">
                            <div class="product_info_content">
                                @Html.Raw(Model.Data.Description)
                            </div>
                        </div>

                        <div class="tab-pane fade" id="Properties" role="tabpanel">
                            <div class="product_d_table">
                                <table>
                                    <tbody>
                                        @foreach (var item in Model.Data.LstProperties)
                                        {
                                            <tr>
                                                <td class="first_child">@item.Title</td>
                                                <td>@item.Value</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="reviews" role="tabpanel">
                            <LoadComponent id="LstReviews"
                                           url="/@ViewData["culture"]/Shared/Compo/ComboListProductReviews"
                                           data='new viCompo_ListProductReviews{ ProductId=Model.Data.Id,PageNum=1,Take=10,TopicId=Model.Data.TopicId }' ,
                                           context="HttpContext"></LoadComponent>
                        </div>

                        <div class="tab-pane fade" id="Asks" role="tabpanel">
                            <LoadComponent id="LstAsks"
                                           url="/@ViewData["culture"]/Shared/Compo/ComboListProductAsks"
                                           data='new viCompo_ListProductAsks{ ProductId=Model.Data.Id,PageNum=1,Take=10 }' ,
                                           context="HttpContext"></LoadComponent>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--product info end-->
<!--product area start-->
<section class="product_area related_products mb-57">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title psec_title">
                    <h3>Related Products</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="product_carousel product_column4 owl-carousel">
                <div class="col-lg-3">
                    <article class="single_product">
                        <figure>
                            <div class="product_thumb">
                                <a class="primary_img" href="product-details.html"><img src="/Main/img/product/product14.jpg" alt=""></a>
                                <a class="secondary_img" href="product-details.html"><img src="/Main/img/product/product15.jpg" alt=""></a>
                                <div class="label_product">
                                    <span class="label_sale">-15%</span>
                                </div>
                                <div class="action_links">
                                    <ul>
                                        <li class="wishlist"><a href="wishlist.html" title="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                                        <li class="compare"><a href="#" title="Add to Compare"><i class="fa fa-refresh"></i></a></li>
                                        <li class="quick_button"><a href="#" data-toggle="modal" data-target="#modal_box" title="quick view"> <i class="fa fa-search-plus "></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <figcaption class="product_content">
                                <h2 class="product_name"><a href="product-details.html">Fila Locker Room Varsity</a></h2>
                                <div class="price_box">
                                    <span class="old_price">$183.00</span>
                                    <span class="current_price">$78.00</span>
                                </div>
                                <div class="add_to_cart">
                                    <a href="cart.html">+ Add to cart</a>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="single_product">
                        <figure>
                            <div class="product_thumb">
                                <a class="primary_img" href="product-details.html"><img src="/Main/img/product/product10.jpg" alt=""></a>
                                <a class="secondary_img" href="product-details.html"><img src="/Main/img/product/product11.jpg" alt=""></a>
                                <div class="label_product">
                                    <span class="label_sale">-15%</span>
                                </div>
                                <div class="action_links">
                                    <ul>
                                        <li class="wishlist"><a href="wishlist.html" title="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                                        <li class="compare"><a href="#" title="Add to Compare"><i class="fa fa-refresh"></i></a></li>
                                        <li class="quick_button"><a href="#" data-toggle="modal" data-target="#modal_box" title="quick view"> <i class="fa fa-search-plus "></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <figcaption class="product_content">
                                <h2 class="product_name"><a href="product-details.html">Trans-Weight Hooded Wind</a></h2>
                                <div class="price_box">
                                    <span class="old_price">$178.00</span>
                                    <span class="current_price">$65.00</span>
                                </div>
                                <div class="add_to_cart">
                                    <a href="cart.html">+ Add to cart</a>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="single_product">
                        <figure>
                            <div class="product_thumb">
                                <a class="primary_img" href="product-details.html"><img src="/Main/img/product/product12.jpg" alt=""></a>
                                <a class="secondary_img" href="product-details.html"><img src="/Main/img/product/product13.jpg" alt=""></a>
                                <div class="label_product">
                                    <span class="label_sale">-15%</span>
                                </div>
                                <div class="action_links">
                                    <ul>
                                        <li class="wishlist"><a href="wishlist.html" title="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                                        <li class="compare"><a href="#" title="Add to Compare"><i class="fa fa-refresh"></i></a></li>
                                        <li class="quick_button"><a href="#" data-toggle="modal" data-target="#modal_box" title="quick view"> <i class="fa fa-search-plus "></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <figcaption class="product_content">
                                <h2 class="product_name"><a href="product-details.html">Juicy Couture Juicy Quilted</a></h2>
                                <div class="price_box">
                                    <span class="old_price">$180.00</span>
                                    <span class="current_price">$58.00</span>
                                </div>
                                <div class="add_to_cart">
                                    <a href="cart.html">+ Add to cart</a>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="single_product">
                        <figure>
                            <div class="product_thumb">
                                <a class="primary_img" href="product-details.html"><img src="/Main/img/product/product17.jpg" alt=""></a>
                                <a class="secondary_img" href="product-details.html"><img src="/Main/img/product/product16.jpg" alt=""></a>
                                <div class="label_product">
                                    <span class="label_sale">-15%</span>
                                </div>
                                <div class="action_links">
                                    <ul>
                                        <li class="wishlist"><a href="wishlist.html" title="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                                        <li class="compare"><a href="#" title="Add to Compare"><i class="fa fa-refresh"></i></a></li>
                                        <li class="quick_button"><a href="#" data-toggle="modal" data-target="#modal_box" title="quick view"> <i class="fa fa-search-plus "></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <figcaption class="product_content">
                                <h2 class="product_name"><a href="product-details.html">Water and Wind Resistant</a></h2>
                                <div class="price_box">
                                    <span class="old_price">$176.00</span>
                                    <span class="current_price">$86.00</span>
                                </div>
                                <div class="add_to_cart">
                                    <a href="cart.html">+ Add to cart</a>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="single_product">
                        <figure>
                            <div class="product_thumb">
                                <a class="primary_img" href="product-details.html"><img src="/Main/img/product/product6.jpg" alt=""></a>
                                <a class="secondary_img" href="product-details.html"><img src="/Main/img/product/product7.jpg" alt=""></a>
                                <div class="label_product">
                                    <span class="label_sale">-15%</span>
                                </div>
                                <div class="action_links">
                                    <ul>
                                        <li class="wishlist"><a href="wishlist.html" title="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                                        <li class="compare"><a href="#" title="Add to Compare"><i class="fa fa-refresh"></i></a></li>
                                        <li class="quick_button"><a href="#" data-toggle="modal" data-target="#modal_box" title="quick view"> <i class="fa fa-search-plus "></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <figcaption class="product_content">
                                <h2 class="product_name"><a href="product-details.html">Madden by Steve Madden</a></h2>
                                <div class="price_box">
                                    <span class="old_price">$156.00</span>
                                    <span class="current_price">$82.00</span>
                                </div>
                                <div class="add_to_cart">
                                    <a href="cart.html">+ Add to cart</a>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
<!--product area end-->
<!--product area start-->
<section class="product_area upsell_products mb-60">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title psec_title">
                    <h3>Upsell Products	</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="product_carousel product_column4 owl-carousel">
                <div class="col-lg-3">
                    <article class="single_product">
                        <figure>
                            <div class="product_thumb">
                                <a class="primary_img" href="product-details.html"><img src="/Main/img/product/product18.jpg" alt=""></a>
                                <a class="secondary_img" href="product-details.html"><img src="/Main/img/product/product19.jpg" alt=""></a>
                                <div class="label_product">
                                    <span class="label_sale">-15%</span>
                                </div>
                                <div class="action_links">
                                    <ul>
                                        <li class="wishlist"><a href="wishlist.html" title="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                                        <li class="compare"><a href="#" title="Add to Compare"><i class="fa fa-refresh"></i></a></li>
                                        <li class="quick_button"><a href="#" data-toggle="modal" data-target="#modal_box" title="quick view"> <i class="fa fa-search-plus "></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <figcaption class="product_content">
                                <h2 class="product_name"><a href="product-details.html">Juicy Couture Juicy Quilted</a></h2>
                                <div class="price_box">
                                    <span class="old_price">$180.00</span>
                                    <span class="current_price">$58.00</span>
                                </div>
                                <div class="add_to_cart">
                                    <a href="cart.html">+ Add to cart</a>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="single_product">
                        <figure>
                            <div class="product_thumb">
                                <a class="primary_img" href="product-details.html"><img src="/Main/img/product/product16.jpg" alt=""></a>
                                <a class="secondary_img" href="product-details.html"><img src="/Main/img/product/product17.jpg" alt=""></a>
                                <div class="label_product">
                                    <span class="label_sale">-15%</span>
                                </div>
                                <div class="action_links">
                                    <ul>
                                        <li class="wishlist"><a href="wishlist.html" title="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                                        <li class="compare"><a href="#" title="Add to Compare"><i class="fa fa-refresh"></i></a></li>
                                        <li class="quick_button"><a href="#" data-toggle="modal" data-target="#modal_box" title="quick view"> <i class="fa fa-search-plus "></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <figcaption class="product_content">
                                <h2 class="product_name"><a href="product-details.html">Water and Wind Resistant</a></h2>
                                <div class="price_box">
                                    <span class="old_price">$176.00</span>
                                    <span class="current_price">$86.00</span>
                                </div>
                                <div class="add_to_cart">
                                    <a href="cart.html">+ Add to cart</a>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="single_product">
                        <figure>
                            <div class="product_thumb">
                                <a class="primary_img" href="product-details.html"><img src="/Main/img/product/product7.jpg" alt=""></a>
                                <a class="secondary_img" href="product-details.html"><img src="/Main/img/product/product6.jpg" alt=""></a>
                                <div class="label_product">
                                    <span class="label_sale">-15%</span>
                                </div>
                                <div class="action_links">
                                    <ul>
                                        <li class="wishlist"><a href="wishlist.html" title="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                                        <li class="compare"><a href="#" title="Add to Compare"><i class="fa fa-refresh"></i></a></li>
                                        <li class="quick_button"><a href="#" data-toggle="modal" data-target="#modal_box" title="quick view"> <i class="fa fa-search-plus "></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <figcaption class="product_content">
                                <h2 class="product_name"><a href="product-details.html">Madden by Steve Madden</a></h2>
                                <div class="price_box">
                                    <span class="old_price">$156.00</span>
                                    <span class="current_price">$82.00</span>
                                </div>
                                <div class="add_to_cart">
                                    <a href="cart.html">+ Add to cart</a>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="single_product">
                        <figure>
                            <div class="product_thumb">
                                <a class="primary_img" href="product-details.html"><img src="/Main/img/product/product15.jpg" alt=""></a>
                                <a class="secondary_img" href="product-details.html"><img src="/Main/img/product/product14.jpg" alt=""></a>
                                <div class="label_product">
                                    <span class="label_sale">-15%</span>
                                </div>
                                <div class="action_links">
                                    <ul>
                                        <li class="wishlist"><a href="wishlist.html" title="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                                        <li class="compare"><a href="#" title="Add to Compare"><i class="fa fa-refresh"></i></a></li>
                                        <li class="quick_button"><a href="#" data-toggle="modal" data-target="#modal_box" title="quick view"> <i class="fa fa-search-plus "></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <figcaption class="product_content">
                                <h2 class="product_name"><a href="product-details.html">Fila Locker Room Varsity</a></h2>
                                <div class="price_box">
                                    <span class="old_price">$183.00</span>
                                    <span class="current_price">$78.00</span>
                                </div>
                                <div class="add_to_cart">
                                    <a href="cart.html">+ Add to cart</a>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="single_product">
                        <figure>
                            <div class="product_thumb">
                                <a class="primary_img" href="product-details.html"><img src="/Main/img/product/product10.jpg" alt=""></a>
                                <a class="secondary_img" href="product-details.html"><img src="/Main/img/product/product11.jpg" alt=""></a>
                                <div class="label_product">
                                    <span class="label_sale">-15%</span>
                                </div>
                                <div class="action_links">
                                    <ul>
                                        <li class="wishlist"><a href="wishlist.html" title="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                                        <li class="compare"><a href="#" title="Add to Compare"><i class="fa fa-refresh"></i></a></li>
                                        <li class="quick_button"><a href="#" data-toggle="modal" data-target="#modal_box" title="quick view"> <i class="fa fa-search-plus "></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <figcaption class="product_content">
                                <h2 class="product_name"><a href="product-details.html">Trans-Weight Hooded Wind</a></h2>
                                <div class="price_box">
                                    <span class="old_price">$178.00</span>
                                    <span class="current_price">$65.00</span>
                                </div>
                                <div class="add_to_cart">
                                    <a href="cart.html">+ Add to cart</a>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                </div>

            </div>
        </div>
    </div>
</section>
<!--product area end-->
<!--brand area start-->
<div class="brand_area brand_padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="brand_container owl-carousel ">
                    <div class="single_brand">
                        <a href="#"><img src="/Main/img/brand/brand1.jpg" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="/Main/img/brand/brand2.jpg" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="/Main/img/brand/brand3.jpg" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="/Main/img/brand/brand4.jpg" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="/Main/img/brand/brand5.jpg" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="/Main/img/brand/brand1.jpg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--brand area end-->
<!--shipping area start-->
<div class="shipping_area shipping_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_shipping">
                    <div class="shipping_icone">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="shipping_content">
                        <h3><a href="tel:(+99)0521282399">(+99) 052 128 2399</a></h3>
                        <p>/ Phone</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_shipping">
                    <div class="shipping_icone">
                        <i class="fa fa-map-marker"></i>
                    </div>
                    <div class="shipping_content">
                        <h3>New York, USA – 1060 Firs Avenue, Muswell Hill</h3>
                        <p>/ Address</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_shipping col3">
                    <div class="shipping_icone">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="shipping_content">
                        <h3><a href="#">bonique@domain.com</a></h3>
                        <p>/ Email</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--shipping area end-->
@section styles{
<link href="~/lib/sweetalert/sweetalert.min.css" rel="stylesheet" />

}

@section scripts{
<script src="~/lib/sweetalert/sweetalert.min.js"></script>
}