@page "/{culture}/Shared/Compo/ComboFileSelector"
@model PrancaBeauty.WebApp.Pages.Shared.Components.CompoFileManager.CompoFileSelector.Compo_FileSelectorModel
@using Framework.Common.ExMethods

@{ 
    string FieldName = Model.Input.FieldName;
    string FieldId = FieldName.Replace(".", "_").Replace("[", "_").Replace("]", "_");
    string FieldTitle = Localizer[FieldName.Split('.').Last()];
}

<div id="CompoFileSelector">
    <div class="row">
        <div class="col-md-12">
            @if (Model.Data.Count() == 0)
            {
                <div class="alert alert-info mt-2">
                    @Html.Raw(Localizer["NoFileSeleted", "AddFile()"])
                </div>
            }
            else
            {
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th></th>
                            <th>@Localizer["FileTitle"]</th>
                            <th>@*@Localizer["FileName"]*@</th>
                            <th>@Localizer["MimeType"]</th>
                            <th>@Localizer["FileSize"]</th>
                            <th>@*@Localizer["FileServerName"]*@</th>
                            <th class="thBtnAdd"><button type="button" class="btn btn-success btn-sm" onclick="AddFile()"><i class="fa fa-plus"></i></button></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.Data)
                        {
                            <tr>
                                <td>
                                    @if (item.MimeType.ToLower().StartsWith("image/"))
                                    {
                                        <img src="@item.DownloadUrl" style="height:32px; width:32px;" />
                                    }
                                    else
                                    {
                                        <img src="@item.FileTypeIconUrl" style="height:32px; width:32px;" />
                                    }
                                </td>
                                <td>@item.Title</td>
                                <td>@*@item.FileName*@</td>
                                <td>@item.MimeType</td>
                                <td>@item.FileSize.GetFileSizeName()</td>
                                <td>@*@item.FileServerName*@</td>
                                <td>
                                    <a class="text-info mr-1 ml-1" onclick="location.href = '@item.DownloadUrl'"><i class="fa fa-download"></i></a>
                                    <a class="text-danger mr-1 ml-1" onclick=""><i class="fa fa-times"></i></a>
                                </td>

                            </tr>
                        }

                    </tbody>
                </table>
            }
        </div>
    </div>
    <input type="hidden" asp-for="Input.SelectedFilesId" name="@Model.Input.FieldName" id="@Model.Input.FieldName.Replace(".","_")" />
</div>
<script>
    function AddFile() {
        LoadComponenet('/@ViewData["culture"]/Shared/Compo/ComboModalFileManager', {
            FieldName: '@Model.Input.FieldName',
            SelectedFilesId: $('#@Model.Input.FieldName.Replace(".","_")').val(),
            MaxFileCount:@Model.Input.MaxFileCount,
            AllowedMimeType: '@Model.Input.AllowedMimeType',
            MaxFileSize:@Model.Input.MaxFileSize
        }, function (res) {
            $('body').append(res);
            $('#CompoModalFileManager').modal({backdrop: 'static', keyboard: false });
        });
    }

    function RefreshFileSelector(_SelectedFilesId) {
        LoadComponenet('/@ViewData["culture"]/Shared/Compo/ComboFileSelector', {
            FieldName: '@Model.Input.FieldName',
            SelectedFilesId: _SelectedFilesId,
            MaxFileCount: @Model.Input.MaxFileCount,
            AllowedMimeType: '@Model.Input.AllowedMimeType',
            MaxFileSize:@Model.Input.MaxFileSize
        }, function (res) {
            $('#ProductImagesCompo').html(res);
        });
    }
</script>