@model List<viBreadcrumbs>
@if (Model != null)
{
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            @foreach (var item in Model)
                            {
                                <li>
                                    @if (item.Url != null)
                                    {
                                       <a href="@item.Url">@item.Title</a>
                                    }
                                    else
                                    {
                                        <span>@item.Title</span>
                                    }
                                </li>
                            }

                            @*<li><a href="/@ViewData["Culture"]">@Localizer["Home"]</a></li>
                                <li><a href="/@ViewData["Culture"]/User/Index">@Localizer["Dashboard"]</a></li>
                                <li><a href="/@ViewData["Culture"]/User/Products/List">@Localizer["ProductList"]</a></li>
                                <li>@Localizer["AddProductSeller"]</li>*@
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
}