<!doctype html>
<html class="no-js" lang="@System.Globalization.CultureInfo.CurrentCulture.Parent.Name">
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="@ViewData["Descreption"]">
    @if (ViewData["canonical"] != null)
    {
        <link rel="canonical" href="@ViewData["canonical"]" />
    }
    <meta name="generator" content="DotNetLearnApp" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Main/img/favicon.ico">

    <!-- CSS
    ========================= -->
    <!--bootstrap min css-->
    <link rel="stylesheet" href="~/Main/css/bootstrap.min.css">
    <!--owl carousel min css-->
    <link rel="stylesheet" href="~/Main/css/owl.carousel.min.css">
    <!--slick min css-->
    <link rel="stylesheet" href="~/Main/css/slick.css">
    <!--magnific popup min css-->
    <link rel="stylesheet" href="~/Main/css/magnific-popup.css">
    <!--font awesome css-->
    <link rel="stylesheet" href="~/Main/css/font.awesome.css">
    <!--ionicons css-->
    <link rel="stylesheet" href="~/Main/css/ionicons.min.css">
    <!--simple line icons css-->
    <link rel="stylesheet" href="~/Main/css/simple-line-icons.css">
    <!--animate css-->
    <link rel="stylesheet" href="~/Main/css/animate.css">
    <!--jquery ui min css-->
    <link rel="stylesheet" href="~/Main/css/jquery-ui.min.css">
    <!--slinky menu css-->
    <link rel="stylesheet" href="~/Main/css/slinky.menu.css">
    <!--plugins css-->
    <link rel="stylesheet" href="~/Main/css/plugins.css">

    @RenderSection("styles", false)

    @if (ViewData["LangDir"].ToString() == "rtl")
    {
        <!-- Main Style CSS -->
        <link rel="stylesheet" href="~/Main/css/style-rtl.min.css">
    }
    else
    {
        <!-- Main Style CSS -->
        <link rel="stylesheet" href="~/Main/css/style-ltr.min.css">
    }

    <!--jquery min js-->
    <script src="~/Main/js/vendor/jquery-3.4.1.min.js"></script>

    <!--modernizr min js here-->
    <script src="~/Main/js/vendor/modernizr-3.7.1.min.js"></script>

    @RenderSection("KendoScripts", false)
</head>

<body>
    @Html.AntiForgeryToken()
    @RenderBody()

    <div class="loading">
        <img src="~/Main/img/loading.gif" />
    </div>

    <!-- JS
    ============================================ -->
    <!--popper min js-->
    <script src="~/Main/js/popper.js"></script>
    <!--bootstrap min js-->
    <script src="~/Main/js/bootstrap.min.js"></script>
    <!--owl carousel min js-->
    <script src="~/Main/js/owl.carousel.min.js"></script>
    <!--slick min js-->
    <script src="~/Main/js/slick.min.js"></script>
    <!--magnific popup min js-->
    <script src="~/Main/js/jquery.magnific-popup.min.js"></script>
    <!--counterup min js-->
    <script src="~/Main/js/jquery.counterup.min.js"></script>
    <!--jquery countdown min js-->
    <script src="~/Main/js/jquery.countdown.js"></script>
    <!--jquery ui min js-->
    <script src="~/Main/js/jquery.ui.js"></script>
    <!--jquery elevatezoom min js-->
    <script src="~/Main/js/jquery.elevatezoom.js"></script>
    <!--isotope packaged min js-->
    <script src="~/Main/js/isotope.pkgd.min.js"></script>
    <!--slinky menu js-->
    <script src="~/Main/js/slinky.menu.js"></script>
    <!-- Plugins JS -->
    <script src="~/Main/js/plugins.js"></script>

    @RenderSection("scripts", false)

    <!-- Shared Scripts -->
    <script src="/@ViewData["Culture"]/RenderStaticFiles/Custom.js"></script>
    <script src="~/Shared/js/SharedScript.min.js"></script>

    <!-- Main JS -->
    <script src="~/Main/js/main.js"></script>
</body>
</html>