@{
    Layout = "~/Pages/Shared/_MainLayout.cshtml";
}

@RenderSection("breadcrumbs", true)

<section class="main_content_area">
    <div class="container">
        <div class="account_dashboard">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <!-- Nav tabs -->
                    <div class="dashboard_tab_button">
                        <ul class="nav flex-column dashboard-list">
                            @if (User.IsInRole(Roles.AdminPage))
                            {
                                <li><a href="/@ViewData["Culture"]/Admin/Index" class="nav-link">@Localizer["AdminPanel"]</a></li>
                            }

                            <li><a href="/@ViewData["Culture"]/User/Index" class="nav-link">@Localizer["Dashboard"]</a></li>

                            @if (User.IsInRole(Roles.CanManageProducts))
                            {
                                @if (User.IsInRole(Roles.CanViewListProducts))
                                {
                                    <li> <a href="/@ViewData["Culture"]/User/Products/List" class="nav-link">@Localizer["ProductList"]</a></li>
                                }
                            }
                            <li><a href="#downloads" class="nav-link active">Downloads</a></li>
                            <li><a href="#address" class="nav-link">Addresses</a></li>
                            <li><a href="#account-details" class="nav-link">Account details</a></li>
                            <li><a onclick="Logout('@Context.Request.GetCurrentUrl()')" href="#Logout" class="nav-link">@Localizer["Logout"]</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</section>

@section styles{
    <!-- SweetAlert -->
    <link href="~/lib/sweetalert/sweetalert.min.css" rel="stylesheet" />

    <!-- KendoUI CSS -->
    <link href="~/lib/KendoUI/css/Theme/prancabeauty-Kendo-Theme.css" rel="stylesheet" type="text/css" />

    @RenderSection("styles", false)
}

@section scripts{

    <!-- InputMask -->
    <script src="~/lib/input-mask/jquery.inputmask.min.js"></script>

    <!-- SweetAlert -->
    <script src="~/lib/sweetalert/sweetalert.min.js"></script>

    @RenderSection("scripts", false)
}

@section KendoScripts{
    <!-- KenoUI Js -->
	<script src="https://cdn.kendostatic.com/2022.1.119/js/jszip.min.js"></script>
	<script src="https://cdn.kendostatic.com/2022.1.119/js/kendo.all.min.js"></script>
	<script src="https://cdn.kendostatic.com/2022.1.119/js/kendo.aspnetmvc.min.js"></script>
}