@page "/{culture}/Shared/Compo/ProductSellers"
@model PrancaBeauty.WebApp.Pages.Shared.Components.Compo_ProductSeller.Compo_ProductSellersModel

@if (Model.Data.Count()>0)
{
    <section class="product_area related_products mb-57">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section_title psec_title">
                        <h3>@Localizer["Sellers"]</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=col-md-12>
                    @foreach (var item in Model.Data)
                    {
                        <div class="seller-item row">
                            <div class="seller-Title col-md-3">
                                <img src="@item.SellerLogo" />
                                <span>@item.SellerName</span>
                            </div>
                            <div class="Shipping col-md-2">
                                <span>@Localizer[item.SendBy.ToString()] <span>(@Localizer["SendFrom"] @Localizer[item.SendFrom.ToString()])</span></span>
                            </div>
                            <div class="Garrunty col-md-2">
                                <span>@item.GarrantyName</span>
                            </div>
                            <div class="Price col-md-3">

                                <span>
                                    @if (item.PercentSavePrice!="0")
                                    {
                                        
                                        <span>@(item.PercentSavePrice)%</span>
                                    }
                                </span>

                                <span>
                                    @item.MainPrice @item.CurrencySymbol
                                </span>


                                <span>
                                    @if (item.PercentSavePrice!="0")
                                    {
                                        @item.OldPrice @item.CurrencySymbol
                                    }
                                </span>

                            </div>
                            <div class="addToCart col-md-2">
                                <button class="btn btn-danger" type="button">@Localizer["AddToCart"]</button>
                            </div>
                        </div>
                    }


                </div>
            </div>
        </div>
    </section>
}