@page "/{culture}/Shared/Compo/ComboModalFileManagerFilter"
@model PrancaBeauty.WebApp.Pages.Shared.Components.CompoFileManager.CompoModalFileManager.Components.Compo_ModalFileListFilterModel

@{
    string FieldName = Model.Input.FieldName;
    string FieldId = FieldName.Replace(".", "_").Replace("[", "_").Replace("]", "_");
    string FieldTitle = Localizer[FieldName.Split('.').Last()];
}

<form id="frmFileManager@(FieldId)">
    <div class="form-group">
        <label>@Localizer["Title"]</label>
        <input asp-for="Input.FileTitle" class="form-control" />
    </div>
    <div class="form-group">
        <LoadComponent id="ComboFileType"
                       context="HttpContext"
                       data='new viCompo_ComboFileTypes { FieldName = "Input.FileTypeId",FileTypeId=Model.Input.FileTypeId }'
                       url="/@ViewData["culture"]/Shared/Compo/ComboFileType"></LoadComponent>
    </div>

    @if (User.IsInRole(Roles.CanManageAllUserFiles))
    {
        <div class="form-group">
            <LoadComponent id="ComboListUsers"
                           context="HttpContext"
                           data='new viCompo_Combo_Users { FieldName = "Input.UploaderUserId",UserId=Model.Input.UploaderUserId }'
                           url="/@ViewData["culture"]/Shared/Compo/ComboUsers"></LoadComponent>
        </div>
    }
    <div class="form-group">
        <label>@Localizer["Sort"]</label>
        <select asp-for="Input.Sort" class="form-control">
            <option value="">@Localizer["Sorting"]</option>
            <option value="0">@Localizer["TitleAes"]</option>
            <option value="1">@Localizer["TitleDes"]</option>
            <option value="2">@Localizer["FileTypeAes"]</option>
            <option value="3">@Localizer["FileTypeDes"]</option>
        </select>
    </div>
    <div class="form-group form-btn">
        <button type="button" onclick="AffectFilter@(FieldId)()" class="btn btn-primary">@Localizer["Affect"]</button>
        <button type="button" onclick="ResetFilters@(FieldId)()" class="btn btn-warning">@Localizer["Reset"]</button>
    </div>
</form>