@page "/{culture}/Shared/Compo/ComboModalFileList"
@model PrancaBeauty.WebApp.Pages.Shared.Components.CompoFileManager.CompoModalFileManager.Components.Compo_ModalFileListModel
@using Framework.Common.ExMethods

@{
    string FieldName = Model.Input.FieldName;
    string FieldId = FieldName.Replace(".", "_").Replace("[", "_").Replace("]", "_");
    string FieldTitle = Localizer[FieldName.Split('.').Last()];
}

<div class="row">
    @if (Model.Data.Count() == 0)
    {
        <div class="col-md-12">
            <div class="alert alert-info">
                @Localizer["NoItemFound"]
            </div>
        </div>
    }
    else
    {
        foreach (var item in Model.Data)
        {
            <div class="col-md-3 mb-3">
                <div>
                    @if (item.MimeType.ToLower().StartsWith("image/"))
                    {
                        <img style="width:100%; height:100px;margin-bottom:10px;" src="@item.DownloadLink" />
                    }
                    else
                    {
                        <img style="width:100%; height:100px;margin-bottom:10px;" src="@item.FileTypeIconUrl" />
                    }
                </div>
                <div style="font-weight:700;text-align:center;">@item.Title</div>
                <div style="text-align:center;">@item.FileSize.GetFileSizeName()</div>
                @if (Model.Input.SelectedFilesId.Contains(item.Id))
                {
                    <div style="margin-top:5px; text-align:center;"><button onclick="RemoveFromFileSelector@(FieldId)('@item.Id.ToLower()')" type="button" class="btn btn-danger btn-sm">@Localizer["Remove"]</button></div>
                }
                else
                {
                    <div style="margin-top:5px; text-align:center;"><button onclick="AddToFileSelector@(FieldId)('@item.Id.ToLower()',@item.FileSize, '@item.MimeType')" type="button" class="btn btn-primary btn-sm">@Localizer["Insert"]</button></div>
                }
            </div>
        }


        <div class="col-md-12 mt-3">
            <hr />
            <ul class="pagination">
                @for (int i = 1; i <= Model.PagingData.CountAllPage; i++)
                {
                    <li class="page-item @(Model.PagingData.Page==i?"active":"")"><a class="page-link" onclick="RefreshFileList@(FieldId)(@i)">@i</a></li>
                }
            </ul>
        </div>
    }
</div>

<script>
    function RefreshFileList@(FieldId)(_Page = @Model.Input.CurrentPage) {
        LoadComponenet('/@ViewData["culture"]/Shared/Compo/ComboModalFileList', {
            UploaderUserId: '@Model.Input.UploaderUserId',
            FileTypeId: '@Model.Input.FileTypeId',
            FileTitle: '@Model.Input.FileTitle',
            SelectedFilesId: $('#@(FieldId)').val(),
            CurrentPage: _Page,
            FieldName: '@Model.Input.FieldName'
        }, function (res) {
            $('#ComboContent@(FieldId)').html(res);
        });
    }
</script>