@page "/{culture}/Shared/Compo/ComboModalFileList"
@model PrancaBeauty.WebApp.Pages.Shared.Components.CompoFileManager.CompoModalFileManager.Components.Compo_ModalFileListModel
@using Framework.Common.ExMethods

<div class="row">
    @if (Model.Data.Count() == 0)
    {
        <div class="col-md-12">
            <div class="alert alert-info">
                @Localizer["NoItemFound"]
            </div>
        </div>
    }
    else
    {
        foreach (var item in Model.Data)
        {
            <div class="col-md-3">
                <div>
                    @if (item.MimeType.ToLower().StartsWith("image/"))
                    {
                        <img style="width:100%; height:100px;margin-bottom:10px;" src="@item.DownloadLink" />
                    }
                    else
                    {
                        <img style="width:100%; height:100px;margin-bottom:10px;" src="@item.FileTypeIconUrl" />
                    }
                </div>
                <div style="font-weight:700;text-align:center;">@item.Title</div>
                <div style="text-align:center;">@item.FileSize.GetFileSizeName()</div>
                <div style="margin-top:5px; text-align:center;"><button onclick="AddToFileSelector('@item.Id')" type="button" class="btn btn-primary btn-sm">@Localizer["Insert"]</button></div>
            </div>
        }
    }
</div>
