@page "/{culture}/User/Product/Sellers/Edit/{ProductId}/{ProductSellerId}"
@model PrancaBeauty.WebApp.Pages.User.Products.Sellers.EditModel
@{
    ViewData["Title"] = Localizer["EditProductSeller"];
    Layout = "~/Pages/Shared/_UserLayout.cshtml";
}

@section breadcrumbs
{
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/@ViewData["Culture"]">@Localizer["Home"]</a></li>
                        <li><a href="/@ViewData["Culture"]/User/Index">@Localizer["Dashboard"]</a></li>
                        <li><a href="/@ViewData["Culture"]/User/Products/List">@Localizer["ProductList"]</a></li>
                        <li>@Localizer["EditProductSeller"]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
}
<div class="row">
    <div class="col-md-4">
        نکات
    </div>
    <div class="col-md-8">
        <form id="FrmEditProdcutSeller">
            <input asp-for="Input.ProductId" type="hidden" value="@Model.Input.ProductId" />
            <input  asp-for="Input.ProductSellerId" type="hidden" value="@Model.Input.ProductSellerId" />
            @if (ViewData["VariantId"].ToString() != "")
            {
                <input name="Input.VariantId" type="hidden" value="@ViewData["VariantId"]" />
            }
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">

                        @if (User.IsInRole(Roles.CanAddProductSellerAllUser))
                        {
                            <input asp-for="Input.UserId" id="" type="hidden" />
                            <LoadComponent id="UserId"
                                       url="/@ViewData["culture"]/Shared/Compo/ComboUsers"
                                       context="HttpContext"
                                       data='new viCompo_Combo_Users{ FieldName="Input.UserId",ShowLabale=true,UserId=Model.Input.UserId,IsEnable=false  }'></LoadComponent>
                        }
                        else
                        {
                            <input asp-for="Input.UserId" type="hidden" />
                        }

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <LoadComponent id="ProductVariantCompo"
                                       context="HttpContext"
                                       data='new viCompo_Variants {FieldName="Input.VariantId",ProductVariantEnable=bool.Parse(ViewData["ProductVariantEnable"].ToString()) ,VariantId=ViewData["VariantId"].ToString(),ProductId=Model.Input.ProductId,AuthorUserId=Model.Input.UserId}'
                                       url="/@ViewData["culture"]/User/Products/Compo/Variants"></LoadComponent>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group frmBtnAction mt-4">
                            <button onclick="GotoBack()" type="button" class="btn btn-warning">@Localizer["GotoBack"]</button>
                            <button onclick="SaveData()" type="button" class="btn btn-success">@Localizer["Save"]</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    function GotoBack() {
         location.href = '@ViewData["ReturnUrl"]';
    }

    function SaveData()
    {
        SendForm('/@ViewData["culture"]/User/Product/Sellers/Edit/@Model.Input.ProductId/@Model.Input.ProductSellerId','FrmEditProdcutSeller');
    }
</script>