@page "/{cultuer}/User/Products/Add"
@model PrancaBeauty.WebApp.Pages.User.Products.AddModel
@{
    ViewData["Title"] = Localizer["AddProduct"];
    Layout = "~/Pages/Shared/_UserLayout.cshtml";
}

@inject PrancaBeauty.Application.Apps.Languages.ILanguageApplication  _LanguageApplication
@inject PrancaBeauty.Application.Apps.Settings.ISettingApplication _SettingApplication

@section breadcrumbs{
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="/@ViewData["Culture"]">@Localizer["Home"]</a></li>
                            <li><a href="/@ViewData["Culture"]/User/Index">@Localizer["Dashboard"]</a></li>
                            <li><a href="/@ViewData["Culture"]/User/Products/List">@Localizer["ProductList"]</a></li>
                            <li>@Localizer["AddProduct"]</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<form id="FrmAddProdcut">
    <input asp-for="Input.IsDraft" value="false" type="hidden" />
    <div class="row">
        <div class="col-md-4">

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            @Localizer["PublicDetials"]
                            <div class="card-option">
                                <div class="card-arrow-down"><i class="fa fa-angle-down"></i></div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="Input.LangId"></label>
                                <LoadComponent id="ProductLangCompo"
                                               context="HttpContext"
                                               data='new viCompo_Combo_Language { FieldName="Input.LangId",LangId= await _LanguageApplication.GetLangIdByLangCodeAsync(new PrancaBeauty.Application.Contracts.Languages.InpGetLangIdByLangCode {  Code=CultureInfo.CurrentCulture.Name})}'
                                               url="/@ViewData["culture"]/Shared/Compo/ComboLanguage"></LoadComponent>
                            </div>

                            <div class="form-group">
                                <LoadComponent id="ProductTopicCompo"
                                               context="HttpContext"
                                               data='new viCompo_Combo_Topics { FieldName="Input.TopicId"}'
                                               url="/@ViewData["culture"]/Shared/Compo/ComboTopics"></LoadComponent>
                            </div>

                            <div class="form-group">
                                <LoadComponent id="ProductCategoryCompo"
                                               context="HttpContext"
                                               data='new viCompo_Combo_Categories { FieldName="Input.CategoryId"}'
                                               url="/@ViewData["culture"]/Shared/Compo/ComboCategories"></LoadComponent>
                            </div>

                            <div class="form-group">
                                <label asp-for="Input.Name"></label>
                                <input asp-for="Input.Name" class="form-control">
                            </div>

                            <div class="form-group">
                                <label asp-for="Input.Title"></label>
                                <input asp-for="Input.Title" class="form-control" />
                            </div>

                            <div class="form-group">
                                <LoadComponent id="PriceCompo"
                                               context="HttpContext"
                                               data='new viCompo_Input_Price { FieldName="Input.Price",Price="0",LangId=await _LanguageApplication.GetLangIdByLangCodeAsync(new PrancaBeauty.Application.Contracts.Languages.InpGetLangIdByLangCode { Code=CultureInfo.CurrentCulture.Name })}'
                                               url="/@ViewData["culture"]/Shared/Compo/ComboInputPrice"></LoadComponent>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card mt-4">
                        <div class="card-header">
                            @Localizer["Settings"]
                            <div class="card-option">
                                <div class="card-arrow-down"><i class="fa fa-angle-down"></i></div>
                            </div>
                        </div>
                        <div class="card-body">

                            <div class="form-group">
                                <label asp-for="Input.Date"></label>
                                <input asp-for="Input.Date" class="form-control Date text-center dir-ltr" />
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card mt-4">
                        <div class="card-header">
                            @Localizer["ProductProperties"]
                            <div class="card-option">
                                <div class="card-arrow-down"><i class="fa fa-angle-down"></i></div>
                            </div>
                        </div>
                        <div class="card-body" id="ProductProperties">
                            <div class="alert alert-info text-center">
                                @Localizer["PleaseSelectTopic"]
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            @Localizer["Keywords"]
                            <div class="card-option">
                                <div class="card-arrow-down"><i class="fa fa-angle-down"></i></div>
                            </div>
                        </div>
                        <div class="card-body">
                            <LoadComponent id="ProductKeywordsCompo"
                                           context="HttpContext"
                                           data='new viCompo_Input_Keywords { FieldName="Input.ProductKeywords"}'
                                           url="/@ViewData["culture"]/User/Products/Compo/CompoInputKeyword"></LoadComponent>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card mt-4">
                        <div class="card-header">
                            @Localizer["SEO"]
                            <div class="card-option">
                                <div class="card-arrow-down"><i class="fa fa-angle-down"></i></div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="Input.MetaTagCanonical"></label>
                                <input asp-for="Input.MetaTagCanonical" class="form-control text-left" />
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.MetaTagKeyword"></label>
                                <textarea rows="2" asp-for="Input.MetaTagKeyword" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.MetaTagDescreption"></label>
                                <textarea rows="4" asp-for="Input.MetaTagDescreption" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card mt-4">
                        <div class="card-header">
                            @Localizer["ProductImages"]
                            <div class="card-option">
                                <div class="card-arrow-down"><i class="fa fa-angle-down"></i></div>
                            </div>
                        </div>
                        <div class="card-body">
                            <LoadComponent id="ProductImagesCompo"
                                           context="HttpContext"
                                           data='new viCompo_FileSelector {ContainerId="ProductImagesCompo" ,FieldName="Input.ProductImagesId",MaxFileCount=2, MaxFileSize=1510007,AllowedMimeType="image/jpg, image/jpeg, image/png"}'
                                           url="/@ViewData["culture"]/Shared/Compo/ComboFileSelector"></LoadComponent>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card mt-4">
                        <div class="card-header">
                            @Localizer["ProductVariants"]
                            <div class="card-option">
                                <div class="card-arrow-down"><i class="fa fa-angle-down"></i></div>
                            </div>
                        </div>
                        <div class="card-body">
                            <LoadComponent id="ProductVariantCompo"
                                           context="HttpContext"
                                           data='new viCompo_Variants {FieldName="Input.VariantId"}'
                                           url="/@ViewData["culture"]/User/Products/Compo/Variants"></LoadComponent>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card mt-4">
                        <div class="card-header">
                            @Localizer["PostingRestrictions"]
                            <div class="card-option">
                                <div class="card-arrow-down"><i class="fa fa-angle-down"></i></div>

                            </div>
                        </div>
                        <div class="card-body" id="ProductProperties">
                            <LoadComponent id="ProductPostingRestrictionsCompo"
                                           context="HttpContext"
                                           data='new viCompo_PostingRestrictions {FieldName="Input.PostingRestrictions"}'
                                           url="/@ViewData["culture"]/User/Products/Compo/PostingRestrictions"></LoadComponent>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card mt-4">
                        <div class="card-header">
                            @Localizer["ProductDescription"]
                            <div class="card-option">
                                <div class="card-arrow-down"><i class="fa fa-angle-down"></i></div>

                            </div>
                        </div>
                        <div class="card-body">
                            <label asp-for="Input.Description"></label>
                            <div class="editor"></div>
                            <textarea class="hidden" asp-for="Input.Description"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group frmBtnAction mt-4">
                        <button onclick="GotoBack()" type="button" class="btn btn-warning">@Localizer["GotoBack"]</button>
                        <button onclick="SaveAsDraft()" type="button" class="btn btn-info">@Localizer["SaveProductAsDraft"]</button>
                        <button onclick="SaveData()" type="button" class="btn btn-success">@Localizer["SaveProductAndCheck"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


@section styles{
    <link href="~/lib/PersianDatePicker/persian-datepicker.min.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/lib/PersianDatePicker/persian-date.min.js"></script>
    <script src="~/lib/PersianDatePicker/persian-datepicker.min.js"></script>
    <script src="~/lib/CKEditor5/build/ckeditor.js"></script>
    @if (CultureInfo.CurrentCulture.Parent.Name == "fa")
    {
        <script src="~/lib/CKEditor5/build/translations/fa.js"></script>
    }

<script>
        function SaveAsDraft() {
            $('#Input_IsDraft').val('true');
            SaveData();
        }

        function SaveData() {
            $('#Input_Description').html(CkEditor.getData());
            setTimeout(function () {
                SendForm('/@ViewData["culture"]/User/Products/Add', 'FrmAddProdcut');
            }, 200);
        }

        function GotoBack() {
            location.href = '@ViewData["ReturnUrl"]';
        }

        $(".Date").persianDatepicker({
            format: 'YYYY/MM/DD HH:mm:ss',
            toolbox: {
                calendarSwitch: {
                    enabled: false
                }
            },
            calendar: {
                persian: {
                    locale: 'en'
                }
            },
            timePicker: {
                enabled: true
            }
        });

        function OnComboSelectInput_LangId(e) {
            var _LangId = e.dataItem.Id;

            LoadComponenet('/@ViewData["culture"]/Shared/Compo/ComboInputPrice', {
                FieldName: 'Input.Price',
                Price: '0',
                LangId: _LangId
            }, function (res) {
                $('#PriceCompo').html(res);
            });
        }

        $(document).ready(function () {
            LoadCkEditor('@CultureInfo.CurrentCulture.Parent.Name');
        });

    function OnComboSelectInput_TopicId(e) {

        LoadComponenet('/@ViewData["Culture"]/User/Products/Compo/ComboProductProperties',
        {
            TopicId: e.dataItem.Id
        },
        function (res) {
            $('#ProductProperties').html(res);
        });
    }
</script>
}

