@page "/{culture}/User/ListProducts"
@model PrancaBeauty.WebApp.Pages.User.Products.ListModel
@{
    ViewData["Title"] = Localizer["ProductList"];
    Layout = "~/Pages/Shared/_UserLayout.cshtml";
}

@section breadcrumbs{
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="/@ViewData["Culture"]">@Localizer["Home"]</a></li>
                            <li><a href="/@ViewData["Culture"]/User/Index">@Localizer["Dashboard"]</a></li>
                            <li>@Localizer["ProductList"]</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <LoadComponent id="LangSearch"
                                       url="/@ViewData["culture"]/Shared/Compo/ComboLanguage"
                                       context="HttpContext"
                                       data='new viCompo_Combo_Language { }'></LoadComponent>
                        @*<input type="text" onchange="Search()" id="txtSearchFullName" class="form-control form-control-sm" placeholder="@Localizer["FullName"]" />*@
                    </div>
                </div>
            </div>
        </div>
        <div class="k-lang">
            @(Html.Kendo()
                   .Grid<vmProductList>()
                   .Name("ListProducts")
                   .DefaultSettings(Localizer)
                   .Columns(col=> {
                       col.Bound(a => a.Id).Hidden().HtmlAttributes(new { @class = "RowId" }).Sortable(false);
                       col.Bound(a => a.ImgUrl).HtmlAttributes(new { style = "text-align:center;" }).ClientTemplate("<img style='width:128px' src='#=ImgUrl#'/>");
                       col.Bound(a => a.Title).ClientTemplateId("TitleCell");
                       col.Bound(a => a.AuthorName).ClientTemplateId("AuthorCell");
                       col.Bound(a => a.Status).ClientTemplateId("StatusCell");
                       col.Bound(a => a).Width(50).Title(" ")
                                                  .HtmlAttributes(new { style= "overflow: visible; text-align: center;" })
                                                  .ClientHeaderTemplate(User.IsInRole(Roles.CanAddProduct)? "<button class='btn btn-success btn-sm' onclick='Add()'><i class='fa fa-plus'></i></button>" : "")
                                                  .ClientTemplateId("DropDownCmd");
                   })
                   .DataSource(ds=>ds.Ajax()
                                     .PageSize(10)
                                     .Read(read=>read.Url($"/{CultureInfo.CurrentCulture.Parent.Name}/User/ListProducts?handler=ReadData").Data("forgeryToken"))))
        </div>
    </div>
</div>

<script id="TitleCell">
        <div class="row">
            <div class="col-md-12">
                <a href="/Product/#=UniqueNumber#/#=Name#">#=Title#</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="/Category/#=CategoryMap#">#=CategoryTitle#</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span>#=Date#</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="d-inline #:HasUnConfirmedReviews==true?'font-weight-bold':''#"><i class="fa fa-comment mr-1 ml-1"></i><span>#:CountReviews#</span></div>
                <div class="d-inline #:HasUnConfirmedAsk==true?'font-weight-bold':''#"><i class="fa fa-question mr-1 ml-1"></i><span>#:CountAsks#</span></div>
                <div class="d-inline #:HasUnConfirmedSellerRequest==true?'font-weight-bold':''#"><i class="fa fa-users mr-1 ml-1"></i><span>#:CountSellers#</span></div>
                <div class='d-inline'><i class="fa fa-eye mr-1 ml-1"></i><span>#:CountVisit#</span></div>
            </div>
        </div>
</script>

<script id="AuthorCell">
        <a href="">
            <div class="d-inline"><img class="img-responcive img-circle" src="#=AuthorImageUrl#" /></div>
            <div class="d-inline">#=AuthorName#</div>
        </a>
</script>

<script id="StatusCell">
    <span class="badge badge-#:Status==0?'danger':(Status==1?'info':(Status==2?'success':(Status==3?'warning':(Status==4?'dark':'primary'))))#">
        #:Status==0?'@Localizer["IsDelete"]':(Status==1?'@Localizer["IsDraft"]':(Status==2?'@Localizer["IsConfirm"]':(Status==3?'@Localizer["IsSchedule"]':(Status==4?'@Localizer["UnKnown"]':'@Localizer["UnKnown"]'))))#
    </span>
</script>

<script id="DropDownCmd">
    <div class="item-action dropdown">
        <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i class="fa fa-bars fs-16 text-dark"></i></a>
        <div class="dropdown-menu dropdown-menu-left">
            @if (User.IsInRole(Roles.CanEditProduct))
            {
                <a href="/@ViewData["Culture"]/Admin/Users/Edit/#:Id#" class="dropdown-item"><i class="dropdown-icon fa fa-edit"></i>@Localizer["Edit"]</a>
            }

            @if (User.IsInRole(Roles.CanRemoveProduct))
            {
                <a href="/@ViewData["Culture"]/Admin/Users/Edit/#:Id#" class="dropdown-item"><i class="dropdown-icon fa fa-edit"></i>@Localizer["Remove"]</a>
            }
        </div>
    </div>
</script>

@if (User.IsInRole(Roles.CanAddProduct))
{
    <script>
        function Add() {

        }
    </script>
}