@model List<vmMainPageShowcase>
@using Framework.Domain.Enums

@{
    foreach (var itemShowcase in Model.Where(a => a.LstTabs.Any()))
    {
        <div id="Showcase@(ShowcaseCount)" class="Showcase @itemShowcase.CssClass" style="background-color:@itemShowcase.BackgroundColorCode;@itemShowcase.CssStyle">
            <div class="@(itemShowcase.IsFullWidth?"container-fluid":"container")">
                <div class="row">
                    <div class="col-12">
                        <div class="section_title">
                            <h3>@itemShowcase.Title</h3>
                            <p>@itemShowcase.Description</p>
                        </div>

                        <div class="product_tab_btn @(itemShowcase.LstTabs.Where(a => a.LstTabSection.Any()).Count()<=1?"hidden":"")">
                            <ul class="nav" role="tablist">
                                @{
                                    CounterTabItem = 0;
                                    foreach (var itemTab in itemShowcase.LstTabs.Where(a => a.LstTabSection.Any()))
                                    {
                                        <li>
                                            <a class="@(itemShowcase.LstTabs.IndexOf(itemTab)==0?"active":"")" data-bs-toggle="tab" href="#TabItem@(ShowcaseCount)@(CounterTabItem)" role="tab" aria-selected="true">
                                                @itemTab.Title
                                            </a>
                                        </li>
                                        CounterTabItem++;
                                    }
                                }
                            </ul>

                            @if (itemShowcase.LstTabs.Where(a => a.LstTabSection.Any()).Count()>1)
                            {
                                <script>
                                    $(document).ready(function(){
                                        LoadTabs('Showcase@(ShowcaseCount)');
                                    });
                                </script>
                            }

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=col-12>
                        <div class=tab-content>
                            @{
                                CounterTabItem = 0;
                                foreach (var itemTab in itemShowcase.LstTabs.Where(a => a.LstTabSection.Any()))
                                {
                                    <div class="tab-pane fade @(itemShowcase.LstTabs.IndexOf(itemTab)==0?"show active":"")" style="background-color:@itemTab.BackgroundColorCode" id="TabItem@(ShowcaseCount)@(CounterTabItem)" role="tabpanel">
                                        @{
                                            AddTabSection(itemTab.LstTabSection);
                                        }

                                        @if (itemTab.ExpireDateInSecound>0)
                                        {
                                            <div id="CounterDown@(ShowcaseCount)@(CounterTabItem)" class="CounterDown">
                                                <div class="Days"><span class=val></span><span class=title>@Localizer["Days"]</span></div>
                                                <div class="Spreator">:</div>
                                                <div class="Hours"><span class=val></span><span class=title>@Localizer["Hours"]</span></div>
                                                <div class="Spreator">:</div>
                                                <div class="Minutes"><span class=val></span><span class=title>@Localizer["Minutes"]</span></div>
                                                <div class="Spreator">:</div>
                                                <div class="Seconds"><span class=val></span><span class=title>@Localizer["Seconds"]</span></div>
                                            </div>
                                            <script>
                                                $(document).ready(function(){
                                                    CalcDuDate('CounterDown@(ShowcaseCount)@(CounterTabItem)',@itemTab.ExpireDateInSecound.ToString(new CultureInfo("en-US")));
                                                });
                                            </script>
                                        }
                                    </div>

                                    CounterTabItem++;
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        ShowcaseCount++;
    }
}

@functions {
    int ShowcaseCount = 0;
    int CounterTabItem = 0;
    private void AddTabSection(IEnumerable<vmMainPageShowcase_TabSection> LstTabSection, string Id = null)
    {
        <div class=row>
            @{
                int _Counter = 0;
                foreach (var itemTabSection in LstTabSection.Where(a => a.ParentId == Id))
                {
                    <div class="col-xl-@itemTabSection.XlSize col-lg-@itemTabSection.LgSize col-md-@itemTabSection.MdSize col-sm-@itemTabSection.SmSize col-xs-@itemTabSection.XsSize">

                        @{
                            if (LstTabSection.Any(a => a.ParentId==itemTabSection.Id))
                                AddTabSection(LstTabSection, itemTabSection.Id);
                            else
                            {
                                if (itemTabSection.LstSectionItem.Any())
                                {
                                    @if (itemTabSection.IsSlider)
                                    {
                                        <div id="product_carousel@(ShowcaseCount)@(CounterTabItem)@(_Counter)" class='owl-carousel'>
                                            @{
                                                AddSectionItems(itemTabSection.LstSectionItem, true, itemTabSection.CountInSection, itemTabSection.HowToDisplayItems);
                                            }
                                        </div>
                                        <script>
                                            $(document).ready(function() {
                                                LoadSlider('product_carousel@(ShowcaseCount)@(CounterTabItem)@(_Counter)',@itemTabSection.CountInSection);
                                            });
                                        </script>
                                    }
                                    else
                                        AddSectionItems(itemTabSection.LstSectionItem, false, itemTabSection.CountInSection, itemTabSection.HowToDisplayItems);
                                }
                            }
                        }
                    </div>
                    _Counter++;
                }
            }
        </div>
    }

    private void AddSectionItems(IEnumerable<vmMainPageShowcase_SectionItem> SectionItems, bool IsSlider, int CountInSection, TabSectionHowToDisplayEnum HowToDisplayItems)
    {
        if (!IsSlider)
        {
            @Html.Raw("<div class=row>")
        }
        @foreach (var item in SectionItems)
        {
            if (!IsSlider)
            {
                @if (item.SectionType==TabSectionItemsEnum.FreeItem || item.SectionType==TabSectionItemsEnum.Product)
                {
                    <div class="col-md-@(12 % CountInSection == 0? (12 / CountInSection): Math.Ceiling(12 / (double)CountInSection)) col-sm-12 col-xs-12">
                        @if (item.SectionType==TabSectionItemsEnum.FreeItem)
                        {
                            AddSectionFreeItems(item.FreeItem, HowToDisplayItems);
                        }

                        @if (item.SectionType==TabSectionItemsEnum.Product)
                        {
                            AddSectionProductItems(item.ProductItem, HowToDisplayItems);
                        }
                    </div>
                }

                @if (item.SectionType==TabSectionItemsEnum.Category)
                {
                    foreach (var itemProduct in item.CategoryItems.LstProducts.Take(item.CategoryItems.CountFetch))
                    {
                        <div class="col-md-@(12 % CountInSection == 0? (12 / CountInSection): Math.Ceiling(12 / (double)CountInSection)) col-sm-12 col-xs-12">
                            @{
                                AddSectionProductItems(itemProduct, HowToDisplayItems);
                            }
                        </div>
                    }
                }

                @if (item.SectionType==TabSectionItemsEnum.Keyword)
                {
                    foreach (var itemProduct in item.KeywordItems.LstProducts.Take(item.KeywordItems.CountFetch))
                    {
                        <div class="col-md-@(12 % CountInSection == 0? (12 / CountInSection): Math.Ceiling(12 / (double)CountInSection)) col-sm-12 col-xs-12">
                            @{
                                AddSectionProductItems(itemProduct, HowToDisplayItems);
                            }
                        </div>
                    }
                }
            }
            else
            {
                @if (item.SectionType==TabSectionItemsEnum.FreeItem)
                {
                    AddSectionFreeItems(item.FreeItem, HowToDisplayItems);
                }

                @if (item.SectionType==TabSectionItemsEnum.Product)
                {
                    AddSectionProductItems(item.ProductItem, HowToDisplayItems);
                }

                @if (item.SectionType==TabSectionItemsEnum.Category)
                {
                    foreach (var itemProduct in item.CategoryItems.LstProducts.Take(item.CategoryItems.CountFetch))
                    {
                        AddSectionProductItems(itemProduct, HowToDisplayItems);
                    }
                }

                @if (item.SectionType==TabSectionItemsEnum.Keyword)
                {
                    foreach (var itemProduct in item.KeywordItems.LstProducts.Take(item.KeywordItems.CountFetch))
                    {
                        AddSectionProductItems(itemProduct, HowToDisplayItems);
                    }
                }
            }
        }
        if (!IsSlider)
        {
            @Html.Raw("</div>")
        }
    }

    private void AddSectionFreeItems(vmMainPageShowcasee_SectionFreeItem SectionItem, TabSectionHowToDisplayEnum HowToDisplayItems)
    {
        if (HowToDisplayItems==TabSectionHowToDisplayEnum.FreeItem1)
        {
            <div class="freeItem FreeItem1" data-bgimg="@SectionItem.ImgUrl">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="slider_content">
                                @Html.Raw(SectionItem.HtmlText)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        if (HowToDisplayItems==TabSectionHowToDisplayEnum.FreeItem2)
        {
            <div class="freeItem FreeItem2">
                <div class="banner_thumb">
                    <a href="@SectionItem.Url"><img src="@SectionItem.ImgUrl" alt="@SectionItem.Title"></a>
                </div>
                <div class="banner_text">
                    @if (!string.IsNullOrEmpty(SectionItem.Title))
                    {
                        <a href="@SectionItem.Url"><h3>@SectionItem.Title</h3></a>
                    }
                    @Html.Raw(SectionItem.HtmlText)
                </div>
            </div>
        }

        if (HowToDisplayItems==TabSectionHowToDisplayEnum.FreeItem3)
        {
            <div class="freeItem FreeItem3">
                <div class="banner_text">
                    @if (!string.IsNullOrEmpty(SectionItem.Title))
                    {
                        <a href="@SectionItem.Url"><h3>@SectionItem.Title</h3></a>
                    }
                    @Html.Raw(SectionItem.HtmlText)
                </div>
                <div class="banner_thumb">
                    <a href="@SectionItem.Url"><img src="@SectionItem.ImgUrl" alt="@SectionItem.Title"></a>
                </div>
            </div>
        }

        if (HowToDisplayItems==TabSectionHowToDisplayEnum.FreeItem4)
        {
            <div class="freeItem FreeItem4">
                <div class="testimonial_thumb">
                    <a href="@SectionItem.Url"> <img src="@SectionItem.ImgUrl" alt="@SectionItem.Title"></a>
                </div>
                <div class="testimonial_content">
                    @if (!string.IsNullOrEmpty(SectionItem.Title))
                    {
                        <a href="@SectionItem.Url"><h3>@SectionItem.Title</h3></a>
                    }
                    @Html.Raw(SectionItem.HtmlText)
                </div>
            </div>
        }

        if (HowToDisplayItems==TabSectionHowToDisplayEnum.FreeItem5)
        {
            <div class="freeItem FreeItem5">
                <div class="testimonial_content">
                    @if (!string.IsNullOrEmpty(SectionItem.Title))
                    {
                        <a href="@SectionItem.Url"><h3>@SectionItem.Title</h3></a>
                    }
                    @Html.Raw(SectionItem.HtmlText)
                </div>
                <div class="testimonial_thumb">
                    <a href="@SectionItem.Url"> <img src="@SectionItem.ImgUrl" alt="@SectionItem.Title"></a>
                </div>
            </div>
        }

        if (HowToDisplayItems==TabSectionHowToDisplayEnum.FreeItem6)
        {
            <div class="freeItem FreeItem6">
                <div class="testimonial_thumb">
                    <a href="@SectionItem.Url"> <img src="@SectionItem.ImgUrl" alt="@SectionItem.Title"></a>
                </div>
                <div class="testimonial_content">
                    @if (!string.IsNullOrEmpty(SectionItem.Title))
                    {
                        <a href="@SectionItem.Url"><h3>@SectionItem.Title</h3></a>
                    }
                    @Html.Raw(SectionItem.HtmlText)
                </div>

            </div>
        }

        if (HowToDisplayItems==TabSectionHowToDisplayEnum.FreeItem7)
        {
            <div class="freeItem FreeItem7">
                <div class="testimonial_content">
                    @if (!string.IsNullOrEmpty(SectionItem.Title))
                    {
                        <a href="@SectionItem.Url"><h3>@SectionItem.Title</h3></a>
                    }
                    @Html.Raw(SectionItem.HtmlText)
                </div>
                <div class="testimonial_thumb">
                    <a href="@SectionItem.Url"> <img src="@SectionItem.ImgUrl" alt="@SectionItem.Title"></a>
                </div>
            </div>
        }

        if (HowToDisplayItems==TabSectionHowToDisplayEnum.FreeItem8)
        {
            <div class="freeItem FreeItem8">
                <div class="testimonial_thumb">
                    <a href="@SectionItem.Url"> <img src="@SectionItem.ImgUrl" alt="@SectionItem.Title"></a>
                </div>
                <div class="testimonial_content">
                    @if (!string.IsNullOrEmpty(SectionItem.Title))
                    {
                        <a href="@SectionItem.Url"><h3>@SectionItem.Title</h3></a>
                    }
                    @Html.Raw(SectionItem.HtmlText)
                </div>
            </div>
        }

        if (HowToDisplayItems==TabSectionHowToDisplayEnum.FreeItem9)
        {
            <div class="freeItem FreeItem9">
                <div class="testimonial_content">
                    @if (!string.IsNullOrEmpty(SectionItem.Title))
                    {
                        <a href="@SectionItem.Url"><h3>@SectionItem.Title</h3></a>
                    }
                    @Html.Raw(SectionItem.HtmlText)
                </div>
                <div class="testimonial_thumb">
                    <a href="@SectionItem.Url"> <img src="@SectionItem.ImgUrl" alt="@SectionItem.Title"></a>
                </div>
            </div>
        }
    }

    private void AddSectionProductItems(vmMainPageShowcase_SectionProductItem SectionItem, TabSectionHowToDisplayEnum HowToDisplayItems)
    {
        if (HowToDisplayItems==TabSectionHowToDisplayEnum.DefaultProduct)
        {
            <div class="ProductItem ProductItem1 single_product">
                <div class="product_thumb">
                    <a class="primary_img" href="/@ViewData["culture"]/Product/@SectionItem.Name">
                        <img src="@SectionItem.ImgUrl[0]" alt="@SectionItem.Title">
                    </a>
                    @if (SectionItem.ImgUrl.Count()>1)
                    {
                        <a class="secondary_img" href="/@ViewData["culture"]/Product/@SectionItem.Name">
                            <img src="@SectionItem.ImgUrl[1]" alt="@SectionItem.Title">
                        </a>
                    }
                    @if (SectionItem.PercentSavePrice>0)
                    {
                        <div class="label_product">
                            <span class="label_sale">-@(SectionItem.PercentSavePrice)%</span>
                        </div>
                    }
                    <div class="action_links">
                        <ul>
                            <li class="wishlist">
                                <a onclick="AddToWishlist('@SectionItem.Id')" title="@Localizer["AddToWishlist"]"><i class="fa fa-heart-o"></i></a>
                            </li>
                            <li class="compare">
                                <a onclick="AddToCompare('@SectionItem.Id')" title="@Localizer["AddToCompare"]">
                                    <i class="fa fa-refresh"></i>
                                </a>
                            </li>
                            @*<li class="quick_button">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#modal_box" title="quick view">
                                <i class="icon-magnifier-add icons"></i>
                                </a>
                                </li>*@
                        </ul>
                    </div>
                </div>
                <div class="product_content">
                    <h2 class="product_name">
                        <a href="/@ViewData["culture"]/Product/@SectionItem.Name">
                            @SectionItem.Title
                        </a>
                    </h2>
                    <div class="price_box">
                        @{
                            double Price = SectionItem.MainPrice + ((SectionItem.MainPrice/100) * SectionItem.SellerPercent);
                            if (SectionItem.PercentSavePrice>0)
                            {
                                <span class="old_price">
                                    @Price.ToN3() @SectionItem.CurrencySymbol
                                </span>
                            }
                            <span class="current_price">
                                @((Price - ((Price / 100) * SectionItem.PercentSavePrice)).ToN3()) @SectionItem.CurrencySymbol
                            </span>
                        }
                    </div>
                    <div class="add_to_cart">
                        <a onclick="AddToCart('@SectionItem.Id')"> <i class="fa fa-plus"></i> <span>@Localizer["AddToCart"]</span></a>
                    </div>
                </div>
            </div>
        }
    }
        }