@model List<vmMainPageShowcase>
@using Framework.Domain.Enums

@{
    int ShowcaseCount = 0;
    foreach (var itemShowcase in Model.Where(a => a.LstTabs.Any()))
    {
        <div class="Showcase @itemShowcase.CssClass" style="background-color:@itemShowcase.BackgroundColorCode;@itemShowcase.CssStyle">
            <div class="@(itemShowcase.IsFullWidth?"container-fluid":"container")">
                <div class="row">
                    <div class="col-12">
                        <div class="section_title">
                            <h3>@itemShowcase.Title</h3>
                            <p>@itemShowcase.Description</p>
                        </div>

                        <div class="product_tab_btn @(itemShowcase.LstTabs.Where(a => a.LstTabSection.Any()).Count()<=1?"hidden":"")">
                            <ul class="nav" role="tablist">
                                @{
                                    int CounterTabItem = 0;
                                    foreach (var itemTab in itemShowcase.LstTabs.Where(a => a.LstTabSection.Any()))
                                    {
                                        <li>
                                            <a class="@(itemShowcase.LstTabs.IndexOf(itemTab)==0?"active":"")" data-bs-toggle="tab" href="#TabItem@(ShowcaseCount)@(CounterTabItem)" role="tab" aria-selected="true">
                                                @itemTab.Title
                                            </a>
                                        </li>
                                        CounterTabItem++;
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=col-12>
                        <div class=tab-content>
                            @{
                                CounterTabItem = 0;
                                foreach (var itemTab in itemShowcase.LstTabs.Where(a => a.LstTabSection.Any()))
                                {
                                    <div class="tab-pane fade @(itemShowcase.LstTabs.IndexOf(itemTab)==0?"show active":"")" style="background-color:@itemTab.BackgroundColorCode" id="TabItem@(ShowcaseCount)@(CounterTabItem)" role="tabpanel">
                                        @{
                                            AddTabSection(itemTab.LstTabSection);
                                        }
                                    </div>

                                    CounterTabItem++;
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        ShowcaseCount++;
    }
}

@functions {
    private void AddTabSection(IEnumerable<vmMainPageShowcase_TabSection> LstTabSection, string Id = null)
    {
        <div class=row>
            @foreach (var itemTabSection in LstTabSection.Where(a => a.ParentId == Id))
            {
                <div class="col-xl-@itemTabSection.XlSize col-lg-@itemTabSection.LgSize col-md-@itemTabSection.MdSize col-sm-@itemTabSection.SmSize col-xs-@itemTabSection.XsSize">

                    @{
                        if (LstTabSection.Any(a => a.ParentId==itemTabSection.Id))
                            AddTabSection(LstTabSection, itemTabSection.Id);
                        else
                        {
                            if (itemTabSection.LstSectionItem.Any())
                            {
                                @if (itemTabSection.IsSlider)
                                {
                                    <div class='product_carousel owl-carousel'>
                                        @{
                                            AddSectionItems(itemTabSection.LstSectionItem, true, itemTabSection.CountInSection, itemTabSection.HowToDisplayItems);
                                        }
                                    </div>
                                }
                                else
                                    AddSectionItems(itemTabSection.LstSectionItem, false, itemTabSection.CountInSection, itemTabSection.HowToDisplayItems);
                            }
                        }
                    }
                </div>
            }
        </div>
    }

    private void AddSectionItems(IEnumerable<vmMainPageShowcase_SectionItem> SectionItems, bool IsSlider, int CountInSection, TabSectionHowToDisplayEnum HowToDisplayItems)
    {

        @foreach (var item in SectionItems.IfThenElse(!IsSlider, a => a.Take(CountInSection)))
        {

            @if (item.SectionType==TabSectionItemsEnum.FreeItem)
            {
                AddSectionFreeItems(item, HowToDisplayItems);
            }

            @if (item.SectionType==TabSectionItemsEnum.Product)
            {
                AddSectionProductItems(item, HowToDisplayItems);
            }
        }
    }

    private void AddSectionFreeItems(vmMainPageShowcase_SectionItem SectionItem, TabSectionHowToDisplayEnum HowToDisplayItems)
    {
        var FreeItem = SectionItem.FreeItem;
        if (HowToDisplayItems==TabSectionHowToDisplayEnum.FreeItem1)
        {
            <div class="freeItem FreeItem1" data-bgimg="@FreeItem.ImgUrl">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="slider_content">
                                @Html.Raw(@FreeItem.HtmlText)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        if (HowToDisplayItems==TabSectionHowToDisplayEnum.FreeItem2)
        {
            <div class="freeItem FreeItem2">
                <div class="banner_thumb">
                    <a href="@FreeItem.Url"><img src="@FreeItem.ImgUrl" alt="@FreeItem.Title"></a>
                </div>
                <div class="banner_text">
                    <h3>@FreeItem.Title</h3>
                    <p>@Html.Raw(FreeItem.HtmlText)</p>
                </div>
            </div>
        }

        if (HowToDisplayItems==TabSectionHowToDisplayEnum.FreeItem3)
        {
            <div class="freeItem FreeItem3">
                <div class="banner_text">
                    <h3>@FreeItem.Title</h3>
                    <p>@Html.Raw(FreeItem.HtmlText)</p>
                </div>
                <div class="banner_thumb">
                    <a href="@FreeItem.Url"><img src="@FreeItem.ImgUrl" alt="@FreeItem.Title"></a>
                </div>
            </div>
        }

        if (HowToDisplayItems==TabSectionHowToDisplayEnum.FreeItem4)
        {
            <div class="freeItem FreeItem4">
                <div class="testimonial_thumb">
                    <img src="@FreeItem.ImgUrl" alt="@FreeItem.Title">
                </div>
                <div class="testimonial_content">
                    <h3>@FreeItem.Title</h3>
                    <p>@Html.Raw(FreeItem.HtmlText)</p>
                </div>
            </div>
        }

        if (HowToDisplayItems==TabSectionHowToDisplayEnum.FreeItem5)
        {
            <div class="freeItem FreeItem5">
                <div class="testimonial_content">
                    <h3>@FreeItem.Title</h3>
                    <p>@Html.Raw(FreeItem.HtmlText)</p>
                </div>
                <div class="testimonial_thumb">
                    <img src="@FreeItem.ImgUrl" alt="@FreeItem.Title">
                </div>
            </div>
        }

        if (HowToDisplayItems==TabSectionHowToDisplayEnum.FreeItem6)
        {
            <div class="freeItem FreeItem6">
                <div class="banner_thumb static_b_thumb">
                    <a href="@FreeItem.Url"><img src="@FreeItem.ImgUrl" alt="@FreeItem.Title"></a>
                </div>
                <div class="banner_static_content">
                    <h3>@FreeItem.Title</h3>
                    <p>@Html.Raw(FreeItem.HtmlText)</p>
                </div>
            </div>
        }

        if (HowToDisplayItems==TabSectionHowToDisplayEnum.FreeItem7)
        {
            <div class="freeItem FreeItem7">
                <div class="banner_static_content">
                    <h3>@FreeItem.Title</h3>
                    <p>@Html.Raw(FreeItem.HtmlText)</p>
                </div>
                <div class="banner_thumb static_b_thumb">
                    <a href="@FreeItem.Url"><img src="@FreeItem.ImgUrl" alt="@FreeItem.Title"></a>
                </div>
            </div>
        }

        if (HowToDisplayItems==TabSectionHowToDisplayEnum.FreeItem8)
        {
            <div class="freeItem FreeItem8">
                <div class="banner_thumb static_b_thumb">
                    <a href="@FreeItem.Url"><img src="@FreeItem.ImgUrl" alt="@FreeItem.Title"></a>
                </div>
                <div class="banner_static_content">
                    <h3>@FreeItem.Title</h3>
                    <p>@Html.Raw(FreeItem.HtmlText)</p>
                </div>
            </div>
        }

        if (HowToDisplayItems==TabSectionHowToDisplayEnum.FreeItem9)
        {
            <div class="freeItem FreeItem9">
                <div class="banner_static_content">
                    <h3>@FreeItem.Title</h3>
                    <p>@Html.Raw(FreeItem.HtmlText)</p>
                </div>
                <div class="banner_thumb static_b_thumb">
                    <a href="@FreeItem.Url"><img src="@FreeItem.ImgUrl" alt="@FreeItem.Title"></a>
                </div>
            </div>
        }
    }

    private void AddSectionProductItems(vmMainPageShowcase_SectionItem SectionItem, TabSectionHowToDisplayEnum HowToDisplayItems)
    {
        var ProductItem = SectionItem.ProductItem;
        if (HowToDisplayItems==TabSectionHowToDisplayEnum.DefaultProduct)
        {
            <div class="single_product">
                <div class="product_thumb">
                    <a class="primary_img" href="/@ViewData["culture"]/Product/@ProductItem.Name">
                        <img src="@ProductItem.ImgUrl[0]" alt="@ProductItem.Title">
                    </a>
                    @if (ProductItem.ImgUrl.Count()>1)
                    {
                        <a class="secondary_img" href="/@ViewData["culture"]/Product/@ProductItem.Name">
                            <img src="@ProductItem.ImgUrl[1]" alt="@ProductItem.Title">
                        </a>
                    }
                    @if (ProductItem.PercentSavePrice>0)
                    {
                        <div class="label_product">
                            <span class="label_sale">-@(ProductItem.PercentSavePrice)%</span>
                        </div>
                    }
                    <div class="action_links">
                        <ul>
                            <li class="wishlist">
                                <a onclick="AddToWishlist('@ProductItem.Id')" title="@Localizer["AddToWishlist"]"><i class="icon-heart icons"></i></a>
                            </li>
                            <li class="compare">
                                <a onclick="AddToCompare('@ProductItem.Id')" title="AddToCompare">
                                    <i class="icon-refresh icons"></i>
                                </a>
                            </li>
                            @*<li class="quick_button">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#modal_box" title="quick view">
                                <i class="icon-magnifier-add icons"></i>
                                </a>
                                </li>*@
                        </ul>
                    </div>
                </div>
                <div class="product_content">
                    <h4 class="product_name">
                        <a href="/@ViewData["culture"]/Product/@ProductItem.Name">
                            @ProductItem.Title
                        </a>
                    </h4>
                    <div class="price_box">
                        @{
                            double Price = ProductItem.MainPrice + ((ProductItem.MainPrice/100) * ProductItem.PercentSavePrice);
                            if (ProductItem.PercentSavePrice>0)
                            {
                                <span class="old_price">
                                    @Price
                                </span>
                            }
                            <span class="current_price">
                                @(Price - ((Price / 100) * ProductItem.PercentSavePrice))
                            </span>
                        }
                    </div>
                    <div class="add_to_cart">
                        <a onclick="AddToCart('@ProductItem.Id')">@Localizer["AddToCart"]</a>
                    </div>
                </div>
            </div>
        }
    }
}