@page "/{culture}/Shared/Compo/ComboModalFileManager"
@model PrancaBeauty.WebApp.Pages.Shared.Components.CompoFileManager.CompoModalFileManager.Compo_ModalFileManagerModel
@inject PrancaBeauty.Application.Apps.Languages.ILanguageApplication _LanguageApplication

<div id="CompoModalFileManager" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Localizer["FileManager"]</h5>
                <button type="button" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card card-light p-3">
                                    <form id="frmFileManager">
                                        <div class="form-group">
                                            <label>@Localizer["Title"]</label>
                                            <input id="Title" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <LoadComponent id="ComboFileType"
                                                           context="HttpContext"
                                                           data='new viCompo_ComboFileTypes { FieldName = "Input.FileTypeId" }'
                                                           url="/@ViewData["culture"]/Shared/Compo/ComboFileType"></LoadComponent>
                                        </div>

                                        @if (User.IsInRole(Roles.CanManageAllUserFliles))
                                        {
                                            <div class="form-group">
                                                <LoadComponent id="ComboListUsers"
                                                               context="HttpContext"
                                                               data='new viCompo_Combo_Users { FieldName = "Input.UserId" }'
                                                               url="/@ViewData["culture"]/Shared/Compo/ComboUsers"></LoadComponent>
                                            </div>
                                        }
                                        <div class="form-group">
                                            <label>@Localizer["Sort"]</label>
                                            <select id="Sort" class="form-control">
                                                <option value="0">@Localizer["Sorting"]</option>
                                                <option value="1">@Localizer["TitleAes"]</option>
                                                <option value="1">@Localizer["TitleDes"]</option>
                                                <option value="1">@Localizer["FileTypeAes"]</option>
                                                <option value="1">@Localizer["FileTypeDes"]</option>
                                            </select>
                                        </div>
                                        <div class="form-group form-btn">
                                            <button type="button" onclick="" class="btn btn-primary">@Localizer["Affect"]</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="card card-light p-3">
                                    Search
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">@Localizer["Insert"]</button>
            </div>
        </div>
    </div>
</div>
