@page "/{culture}/Shared/Compo/ComboBillAddress"
@model PrancaBeauty.WebApp.Pages.Shared.Components.Compo_BillAddress.Compo_BillAddressModel

<div class="row">
    @if (Model.Data.Count()==0)
    {
        if (!Model.Input.IsBuyer)
        {
            <div class="col-md-12">
                <div class="alert alert-info">
                    @Html.Raw(Localizer["AddressNotSelected"])
                </div>
            </div>
        }
        else
        {
            <div class="col-md-12">
                <div class="alert alert-info">
                    @Html.Raw(Localizer["NoAddressFound.PleaseAdd","AddAddress()"])
                </div>
            </div>
        }
    }
    else
        foreach (var item in Model.Data)
        {
            <div class="col-md-12 address">
                <div class="Title">
                    <input onchange="UpdateBillAddress('@item.Id')" @((Model.Input.IsBuyer && !Model.Input.IsPayed)?"":"disabled") @(Model.Input.AddressId==item.Id?"checked":"") value="@item.Id" name="Input.AddressId" type="radio" />
                    <span>@item.UserFullName</span>
                </div>
                <div class="addr">
                    @item.Address
                </div>
            </div>
        }
</div>

<script>
    function AddAddress() {
        LoadComponent('/@ViewData["culture"]/User/EditProfile/Compo/AddAddress', {}, function(res) {
            ShowModal(res, 'AddAddress');
        });
    }

    function RefreshAddress() {
        location.reload();
    }

    function UpdateBillAddress(_AddressId)
    {
        SendData('/@ViewData["culture"]/Shared/Compo/ComboBillAddress?handler=UpdateBillAddress', {BillId:'@Model.Input.BillId',AddressId:_AddressId});
    }
</script>