@page "/{culture}/Admin/AccessLevel/Edit/{Id}"
@model PrancaBeauty.WebApp.Pages.Admin.AccessLevels.EditModel
@{
    ViewData["Title"] = Localizer["AddAccessLevel"];
    Layout = "~/pages/shared/_AdminLayout.cshtml";
}

@using PrancaBeauty.WebApp.Models.ViewInput

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">@ViewData["Title"]</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="/@CultureInfo.CurrentCulture.Parent.Name/admin/index">@Localizer["Dashborad"]</a></li>
                        <li class="breadcrumb-item active">@ViewData["Title"]</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <form id="frmEditAccessLevel">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label asp-for="Input.Name"></label>
                                            <input asp-for="Input.Name" class="form-control text-left" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <LoadComponent url="/Admin/AccessLevel/Compo/ListGridRoles"
                                                           data='new viCompo_ListGridRolesModel { AccessLevelId = Model.Input.Id }'
                                                           context="HttpContext"></LoadComponent>

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12 text-left">
                                            <hr />
                                            <button onclick="SendForm('/@ViewData["Culture"]/Admin/AccessLevel/Edit/@Model.Input.Id', 'frmEditAccessLevel')" type="button" class="btn btn-success">@Localizer["Save"]</button>
                                            <button onclick="GotoList()" type="button" class="btn btn-warning">@Localizer["GotoList"]</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>

@section scripts{
    <script src="~/lib/input-mask/jquery.inputmask.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#Input_Name').inputmask({
                regex: '[a-zA-Z_]*',
                placeholder: ''
            });
        });

        function GotoList() {
            location.href = '@ViewData["ReturnUrl"]';
        }
    </script>
}