@page "/{culture}/Admin/AccessLevel/List"
@model PrancaBeauty.WebApp.Pages.Admin.AccessLevels.ListModel
@{
    ViewData["Title"] = Localizer["ListAccessLevel"];
    Layout = "~/pages/shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">@ViewData["Title"]</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/@CultureInfo.CurrentCulture.Parent.Name/admin/index">@Localizer["Dashborad"]</a></li>
                        <li class="breadcrumb-item active">@ViewData["Title"]</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="k-lang">
                                @(Html.Kendo()
                                  .Grid<PrancaBeauty.Application.Contracts.ApplicationDTO.AccessLevels.OutGetListForAdminPage>()
                                  .Name("ListAccessLevel")
                                  .DefaultSettings(Localizer)
                                  .Columns(col=> {
                                      col.Bound(a => a.Id).Hidden().HtmlAttributes(new { @class = "RowId" }).Sortable(false);
                                      col.Bound(a => a.Name).Sortable(false);
                                      col.Bound(a => a.CountUser).Sortable(false).Width(150);
                                      col.Bound(a => a).Width(50).Title(" ")
                                                                 .HtmlAttributes(new { style= "overflow: visible; text-align: center;" })
                                                                 .ClientHeaderTemplate(User.IsInRole(Roles.CanAddAccessLevel)? "<button class='btn btn-success btn-sm' onclick='Add()'><i class='fa fa-plus'></i></button>" : "")
                                                                 .ClientTemplateId("DropDownCmd");
                                  })
                                  .DataSource(ds=>ds.Ajax()
                                                    .PageSize(10)
                                                    .Read(read=>read.Url($"/{CultureInfo.CurrentCulture.Parent.Name}/Admin/AccessLevel/List?handler=ReadData").Data("forgeryToken"))))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>

<script id="DropDownCmd">
    <div class="item-action dropdown">
        <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i class="fa fa-bars fs-16 text-dark"></i></a>
        <div class="dropdown-menu dropdown-menu-left">
            @if (User.IsInRole(Roles.CanEditAccessLevel))
            {
                <a href="/@ViewData["Culture"]/Admin/AccessLevel/Edit/#:Id#" class="dropdown-item"><i class="dropdown-icon fa fa-edit"></i>@Localizer["Edit"]</a>
            }
            @if (User.IsInRole(Roles.CanRemoveAccessLevel))
            {
                <a onClick="Remove('#:Id#')" class="dropdown-item"><i class="dropdown-icon fa fa-times"></i>@Localizer["Remove"]</a>
            }
        </div>
    </div>
</script>

@if (User.IsInRole(Roles.CanAddAccessLevel))
{
    <script>
        function Add() {
            location.href = '/@ViewData["Culture"]/Admin/AccessLevel/Add?ReturnUrl=@(System.Net.WebUtility.UrlEncode(Request.GetCurrentUrl()))';
        }
    </script>
}

@if (User.IsInRole(Roles.CanRemoveAccessLevel))
{
    <script>
        function Remove(_Id) {
            RemoveData('/@ViewData["Culture"]/Admin/AccessLevel/List?handler=Remove', {Id:_Id});
        }
    </script>
}

<script>
    function RefreshData() {
        RefreshGrid('ListAccessLevel');
    }
</script>