@page "/{culture}/Search/{CategoryName}"
@model PrancaBeauty.WebApp.Pages.Home.Search.SearchModel
@{
    ViewData["Title"]= "جستوجو";
    ViewData["Descreption"]= "توضیحات صفحه ی جستوجو";
    ViewData["canonical"]= null;

    Layout = "~/Pages/Shared/_MainLayout.cshtml";
}

<!--breadcrumbs area start-->
<partial name="~/Pages/Shared/Partials/P_breadcrumbs.cshtml" model='new List<viBreadcrumbs>{
        new viBreadcrumbs{ Title=Localizer["Home"], Url=$"/{ViewData["Culture"]}"},
        new viBreadcrumbs{ Title=Model.Input.CategoryName, Url=$"/{ViewData["Culture"]}/Search/{Model.Input.CategoryName}"},
        new viBreadcrumbs{ Title=ViewData["Title"].ToString()} }' />
<!--breadcrumbs area end-->
<!--shop  area start-->
<div class="shop_area mb-60">
    <div class="container">
        <div class="row rowLng">
            <div class="col-lg-9 col-md-12 colLng">
                <LoadComponent id="ProductList"
                               context="HttpContext"
                               url="/@ViewData["culture"]/Search/Compo/ProductList"
                               data="new viCompoSearch_ProductList { CategoryName=Model.Input.CategoryName,KeywordTitle=Model.Input.KeywordTitle,CurrentPage=1,MinPrice=0,MaxPrice=10000000,Sort=Framework.Application.Enums.GetProductListForAdvanceSearchSortingEnum.Newest,Take=10 }"></LoadComponent>

                <form id="frmSearch">
                    <input asp-for="Input.CategoryName" type="hidden" />
                    <input asp-for="Input.CurrentPage" type="hidden" />
                </form>
                <script>
                    function SubmitSearch()
                    {
                        SendFormGET('/@ViewData["culture"]/Search/Compo/ProductList','frmSearch',function(res){
                            $('#ProductList').html(res);
                        });
                    }
                </script>
            </div>
            <div class="col-lg-3 col-md-12 colLng">
                <!--sidebar widget start-->
                <aside class="sidebar_widget">
                    <div class="widget_inner">
                        <div id="KeywordSearch"></div>
                        <script>
                            $(document).ready(function(){
                                LoadComponent('/@ViewData["culture"]/Search/Compo/KeywordSearch',{
                                       KeywordTitle: '@(Model.Input.KeywordTitle)',
                                       CategoryTitle: '@(Model.Input.CategoryName)'
                                    },function(res){
                                       $('#KeywordSearch').html(res);
                                 },false);
                            });
                        </script>
                        <div class="widget_list tags_widget">
                            <div>
                                <input onchange="SubmitSearch()" form="frmSearch" asp-for="Input.OnlyExistProducts" />
                                <span>@Localizer["OnlyExistProducts"]</span>
                            </div>

                            <div>
                                <input onchange="SubmitSearch()" form="frmSearch" asp-for="Input.OnlySendByPrancaBeauty" />
                                <span>@Localizer["OnlySendByPrancaBeauty"]</span>
                            </div>

                            <div>
                                <input onchange="SubmitSearch()" form="frmSearch" asp-for="Input.OnlySendBySeller" />
                                <span>@Localizer["OnlySendBySeller"]</span>
                            </div>
                        </div>

                        @if (ViewData["CategoryId"]!=null)
                        {
                            <LoadComponent id="ProductList"
                                           context="HttpContext"
                                           url="/@ViewData["culture"]/Search/Compo/VariantSearch"
                                           data='new viCompo_VariantSearch {
                                                CategoryId=ViewData["CategoryId"].ToString(),
                                                SelectedValues=string.Join(",",Model.Input.VariantSelectedValues)
                            }'></LoadComponent>
                        }

                        <div id="FilterByPrice"></div>

                        @if (ViewData["TopicId"]!=null)
                        {
                            <LoadComponent id="ProductList"
                                       context="HttpContext"
                                       url="/@ViewData["culture"]/Search/Compo/PropertisSearch"
                                       data='new viCompo_PropertisSearch {
                                            TopicId=ViewData["TopicId"].ToString(),
                                            SelectedValues=string.Join(",",Model.Input.PropSelectedValues)
                            }'></LoadComponent>
                        }
                    </div>
                </aside>
                <!--sidebar widget end-->
            </div>
        </div>
    </div>
</div>
<!--shop  area end-->
@section styles{
}

@section scripts{
<script src="~/lib/noUiSlider/dist/nouislider.min.js"></script>
}