@page "/{culture}/User/Bill/{BillNumber}"
@using Framework.Domain.Enums
@model PrancaBeauty.WebApp.Pages.User.Bills.BillModel
@{
    ViewData["Title"] = Localizer["Bill", Model.Input.BillNumber];
    Layout = "~/Pages/Shared/_UserLayout.cshtml";
}

@section breadcrumbs{
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="/@ViewData["Culture"]">@Localizer["Home"]</a></li>
                            <li><a href="/@ViewData["Culture"]/User/Index">@Localizer["Dashboard"]</a></li>
                            <li><a href="/@ViewData["Culture"]/User/Bills/List">@Localizer["BillList"]</a></li>
                            <li>@Localizer["BillDetails"]</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

    <div class="Checkout_section">
        <div class="container">
            <div class="billHeader">
                <div class="row">
                    <div class="col-6">
                        <span class="billNumber">
                            @Localizer["BillNumber"]: <span>#@Model.Input.BillNumber</span>
                        </span>
                    </div>
                    <div class="col-6">
                        <div class="billStatus">
                            <span class="Status">
                                <span class="title"> @Localizer["Status"]:</span>
                                <span class="value">
                                    @{
                                    switch (Model.Data.BillStatus)
                                    {
                                        case BillStatusEnum.NotPayyed:
                                            {
                                                <span class="text-warning">@Localizer["NotPayyed"]</span>
                                                break;
                                            }
                                        case BillStatusEnum.Payyed:
                                            {
                                                <span class="text-succss bold">@Localizer["Payyed"]</span>
                                                break;
                                            }
                                        case BillStatusEnum.Expired:
                                            {
                                                <span class="text-danger">@Localizer["Expired"]</span>
                                                break;
                                            }
                                    }
                                }
                            </span>
                        </span>
                        @if (Model.Data.TransactionNumber!=null)
                        {
                            <span class="TransactionNumber"><span class="title"> @Localizer["TransactionNumber"]:</span> <span class="value">@Model.Data.TransactionNumber</span></span>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="checkout_form">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>@Localizer["Address"]</h3>
                            <LoadComponent id="Address"
                                           context="HttpContext"
                                           data="new viCompo_BillAddress{}"
                                           url="/@ViewData["culture"]/Shared/Compo/ComboBillAddress"></LoadComponent>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>@Localizer["HowToPay"]</h3>
                            <LoadComponent id="HowToPay"
                                           context="HttpContext"
                                           data='new viCompo_HowToPay{ CountryId=ViewData["CountryId"].ToString()}'
                                           url="/@ViewData["culture"]/Shared/Compo/ComboHowToPay"></LoadComponent>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">
                    <div class="row">
                        @{
                            string CurrencySymbol = Model.Data.LstSellerGroups.First().LstItems.First().CurrencySymbol;
                            foreach (var itemSeller in Model.Data.LstSellerGroups)
                            {
                                <div class="col-md-12">
                                    <h3>
                                        <div class="row">
                                            <div class="col-6">@Localizer["Seller"]: @itemSeller.SellerName</div>
                                            <div class="col-6">
                                                <div class="ShippingMethid">
                                                    <span>@Localizer["ShippingMethod"]:</span>
                                                    <span>
                                                        <select class="form-control">
                                                            <option value="">Tipax</option>
                                                            <option value="">پست معمولی</option>
                                                            <option value="">پست پیشتاز</option>
                                                        </select>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                    </h3>
                                    <div class="order_table table-responsive">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>@Localizer["ProductTitle"]</th>
                                                    <th>@Localizer["Qty"]</th>
                                                    <th>@Localizer["TotalPrice"]</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var itemProduct in itemSeller.LstItems)
                                                {
                                                    <tr>
                                                        <td>
                                                            <a href="/@ViewData["culture"]/Product/@itemProduct.Name" target="_blank">@itemProduct.Title</a>
                                                            <br />
                                                            <span class="fs-12">@itemProduct.VariantTopic <b>@itemProduct.VariantValue</b></span>
                                                        </td>
                                                        <td>@itemProduct.Qty</td>
                                                        <td>@itemProduct.TotalAmount.ToN3() @CurrencySymbol</td>
                                                    </tr>
                                                }
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th></th>
                                                    <th>@Localizer["Tax"]</th>
                                                    <td><strong>@itemSeller.LstItems.Sum(a=>a.TaxAmount).ToN3() @CurrencySymbol</strong></td>
                                                </tr>
                                                <tr>
                                                    <th></th>
                                                    <th>@Localizer["ShippingAmount"]</th>
                                                    <td><strong>@itemSeller.ShippingAmount.ToN3() @CurrencySymbol</strong></td>
                                                </tr>
                                                <tr class="order_total">
                                                    <th></th>
                                                    <th>@Localizer["TotalPrice"]</th>
                                                    <td><strong>@itemSeller.LstItems.Sum(a=>a.TotalAmount).ToN3() @CurrencySymbol</strong></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>

                                </div>
                            }
                        }
                        <div class="col-md-12">
                            <h3 class="bg-info">@Localizer["FinalPrice"]</h3>
                            <div class="order_table table-responsive">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td> @Localizer["TotalTax"]</td>
                                            <td>
                                                <strong>@Model.Data.TaxAmount.ToN3()</strong>
                                                @CurrencySymbol
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>@Localizer["TotalShippingAmount"]</td>
                                            <td>
                                                <strong>@Model.Data.ShippingAmount.ToN3()</strong>
                                                @CurrencySymbol
                                            </td>
                                        </tr>
                                        <tr class="order_total">
                                            <td>@Localizer["FinalPrice"]</td>
                                            <td>
                                                <strong>@Model.Data.TotalPrice.ToN3()</strong>
                                                @CurrencySymbol
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="payment_method">
                                <div class="order_button">
                                    <button type="submit">ثبت نهایی و پراخت</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Checkout page section end-->
<!--brand area start-->
<div class="brand_area brand_padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="brand_container owl-carousel ">
                    <div class="single_brand">
                        <a href="#"><img src="assets/img/brand/brand1.jpg" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="assets/img/brand/brand2.jpg" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="assets/img/brand/brand3.jpg" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="assets/img/brand/brand4.jpg" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="assets/img/brand/brand5.jpg" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="assets/img/brand/brand1.jpg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--brand area end-->
<!--shipping area start-->
<div class="shipping_area shipping_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_shipping">
                    <div class="shipping_icone">
                        <i class="icon-call-out icons"></i>
                    </div>
                    <div class="shipping_content">
                        <h3><a href="tel:0123456789">0123456789</a></h3>
                        <p>/ Phone</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_shipping">
                    <div class="shipping_icone">
                        <i class="icon-location-pin icons"></i>
                    </div>
                    <div class="shipping_content">
                        <h3>Your address goes here.</h3>
                        <p>/ Address</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_shipping col3">
                    <div class="shipping_icone">
                        <i class="icon-envelope icons"></i>
                    </div>
                    <div class="shipping_content">
                        <h3><a href="#">demo@example.com</a></h3>
                        <p>/ Email</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--shipping area end-->
@section styles{

}

    @section scripts{

}
