@page "/{culture}/User/Products/Compo/VariantsItem"
@model PrancaBeauty.WebApp.Pages.User.Products.Components.Compo_Variants.Compo_Variants_ItemsModel

<div id="Variants@(Model.Input.Index)">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input asp-for="Input.Id" type="hidden" name="Input.Variants[Model.Input.Index].Id" />
                <input class="form-control" asp-for="Input.Title" name="Input.Variants[Model.Input.Index].Title" type="text" placeholder="@Localizer["VariantTitle"]" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <input class="form-control text-left" asp-for="Input.Value" name="Input.Variants[Model.Input.Index].Value" type="text" placeholder="@Localizer["VariantValue"]" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div class="input-group mb-3 dir-ltr">
                    <div class="input-group-prepend">
                        <span class="input-group-text">%</span>
                    </div>
                    <input class="form-control fs-14px text-center dir-ltr" asp-for="Input.Percent" id="Percent@(Model.Input.Index)" name="Input.Variants[Model.Input.Index].Percent" type="text" title="@Localizer["VariantPercentPriceMsg"]" placeholder="@Localizer["VariantPercentPrice"]" />
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <button type="button" onclick="RemoveVariants('@Model.Input.Index')" class="btn btn-danger"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <script>
        LoadVariantPercent('Percent@(Model.Input.Index)');
    </script>
</div>
