@page "/Auth/Login/Components/LoginByUsernamePassword"
@model PrancaBeauty.WebApp.Pages.Auth.Login.Components.Compo_Login_UsernamePasswordModel

<div class="account_form">
    <h2>@Localizer["Login"]</h2>
    <form id="compo_Login" method="post">
        <p>
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="text-left">
        </p>
        <p>
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" class="text-left">
        </p>
        <div class="login_submit">
            <a onclick="LoginByEmailLink()" href="#LoginEmailLink">@Localizer["LoginByEmailLink"]</a>
            <br />
            <br>
            <a href="#">@Localizer["LostYourPassword?"]</a>
            <label asp-for="Input.RemmeberMe">
                <input asp-for="Input.RemmeberMe">
                @Localizer["RemmeberMe"]
            </label>
            <button onclick="SendForm('/Auth/Login/Components/LoginByUsernamePassword','compo_Login')" type="button">@Localizer["Login"]</button>
        </div>
    </form>
</div>

<script>
        $(document).ready(function () {
            $('#Input_Email').inputmask({
                regex: '@Localizer["EmailPattern"]',
                placeholder: ''
            });
        });

    function GotoReturnUrl() {
        location.href = '@(System.Net.WebUtility.UrlDecode(ViewData["ReturnUrl"].ToString()))';
    }

    function LoginByEmailLink() {
        LoadComponenet('/Auth/Login/Components/LoginByEmailLink', { ReturnUrl: null }, function (data) {
            $('#CompoLogin').html(data);
        });
    }
</script>