@page "/{Culture}/Auth/Login/Components/LoginByEmailPassword"
@model PrancaBeauty.WebApp.Pages.Auth.Login.Components.Compo_Login_EmailPasswordModel

<div class="account_form">
    <h2>@Localizer["LoginByEmailPassword"]</h2>
    <form id="compo_Login" method="post" asp-antiforgery="false">
        <p>
            <label asp-for="Input.Email"></label>
            <input type="text" autocomplete="off" asp-for="Input.Email" class="text-left">
        </p>
        <p>
            <label asp-for="Input.Password"></label>
            <input type="password" asp-for="Input.Password" class="text-left">
        </p>
        <div class="login_submit">
            <a onclick="LoginByEmailLink()" href="#LoginEmailLink">@Localizer["LoginByEmailLink"]</a>
            <br />
            <br>
            <a href="/@ViewData["culture"]/Auth/RecoveryPassword">@Localizer["LostYourPassword?"]</a>
            <label asp-for="Input.RemmeberMe">
                <input asp-for="Input.RemmeberMe">
                @Localizer["RemmeberMe"]
            </label>
            <button onclick="SendForm('/@ViewData["culture"]/Auth/Login/Components/LoginByEmailPassword','compo_Login')" type="button">@Localizer["Login"]</button>
        </div>
    </form>
</div>

<script>
        $(document).ready(function () {
            $('#Input_Email').inputmask({
                regex: '@Localizer["EmailPattern"]',
                placeholder: ''
            });
        });

    function LoginByEmailLink() {
        LoadComponenet('/@ViewData["culture"]/Auth/Login/Components/LoginByEmailLink', { ReturnUrl: null }, function (data) {
            $('#CompoLogin').html(data);
        });
    }
</script>