@page "/{culture}/Shared/Compo/ComboHowToPay"
@model PrancaBeauty.WebApp.Pages.Shared.Components.Compo_HowToPay.Compo_HowToPayModel

<div class="row">
    @foreach (var item in Model.Data)
    {
        <div class="col-md-12 Gate">
            <input onclick="UpdatePaymentGate('@item.Id')" @((Model.Input.IsBuyer && !Model.Input.IsPayed)?"":"disabled") value="@item.Id" @(Model.Input.GateId==item.Id?"checked":"") name="Input.PaymentGateId" type="radio" />
            <span>@item.Title</span>
        </div>
    }
</div>

<script>
    function UpdatePaymentGate(_GateId) {
        SendData('/@ViewData["culture"]/Shared/Compo/ComboHowToPay?handler=ChangePaymentGate', { BillId: '@Model.Input.BillId', GateId: _GateId });
    }
</script>