@page "/{culture}/Admin/ShowcaseTabSection/Add/{ShowcaseId}/{ShowcaseTabId}"
@model PrancaBeauty.WebApp.Pages.Admin.Showcases.Tabs.TabSections.AddShowcaseTabSectionModel
@{
    ViewData["Title"] = Localizer["AddShowcaseTabSection"];
    Layout = "~/pages/shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-4">
                    <h1 class="m-0 text-dark">@ViewData["Title"]</h1>
                </div><!-- /.col -->
                <div class="col-sm-8">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/@CultureInfo.CurrentCulture.Parent.Name/admin/index">@Localizer["Dashborad"]</a></li>
                        <li class="breadcrumb-item"><a href="/@CultureInfo.CurrentCulture.Parent.Name/Admin/Showcase/List">@Localizer["ListShowcase"]</a></li>
                        <li class="breadcrumb-item"><a href="/@CultureInfo.CurrentCulture.Parent.Name/Admin/ShowcaseTabs/List/@ViewData["ShowcaseId"]">@Localizer["ListShowcaseTab"]</a></li>
                        <li class="breadcrumb-item"><a href="/@CultureInfo.CurrentCulture.Parent.Name/Admin/ShowcaseTabSection/List/@ViewData["ShowcaseId"]/@ViewData["ShowcaseTabId"]">@Localizer["ListShowcaseTabSection"]</a></li>
                        <li class="breadcrumb-item active">@ViewData["Title"]</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <form id="frmAddShowcaseTabSection">
                                <input asp-for=Input.ShowcaseTabId type="hidden" value="@ViewData["ShowcaseTabId"]" />
                                <div class="form-group">
                                    <div class="row">
                                        <div class=col-md-6>
                                            <label asp-for=Input.ParentId></label>
                                            <LoadComponent id="ParentId"
                                                           context="HttpContext"
                                                           url="/@ViewData["culture"]/Shared/Compo/ComboTabSection"
                                                           data='new viCompo_Combo_TabSections{ FieldName="Input.ParentId",ShowcaseTabId=ViewData["ShowcaseTabId"].ToString(),ShowcaseTabSectionId=null}'></LoadComponent>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class=col-md-6>
                                            <label asp-for=Input.Name></label>
                                            <input asp-for=Input.Name class=form-control />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class=col-md-3>
                                            <label asp-for=Input.IsSlider></label>
                                            <select asp-for=Input.IsSlider class=form-control>
                                                <option value="false">@Localizer["No"]</option>
                                                <option value="true">@Localizer["Yes"]</option>
                                            </select>
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class=col-md-3>
                                            <label asp-for=Input.CountInSection></label>
                                            <input asp-for=Input.CountInSection class="form-control text-left" />
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class=col-md-3>
                                            <label asp-for=Input.HowToDisplay></label>
                                            <select asp-for=Input.HowToDisplay class="form-control">
                                                <option value="0">@Localizer["NoItemHowToDisply"]</option>
                                                <option value="1">@Localizer["FreeItemHowToDisply1"]</option>
                                                <option value="2">@Localizer["FreeItemHowToDisply2"]</option>
                                                <option value="3">@Localizer["FreeItemHowToDisply3"]</option>
                                                <option value="4">@Localizer["FreeItemHowToDisply4"]</option>
                                                <option value="5">@Localizer["FreeItemHowToDisply5"]</option>
                                                <option value="6">@Localizer["FreeItemHowToDisply6"]</option>
                                                <option value="7">@Localizer["FreeItemHowToDisply7"]</option>
                                                <option value="8">@Localizer["FreeItemHowToDisply8"]</option>
                                                <option value="9">@Localizer["FreeItemHowToDisply9"]</option>
                                                <option value="10">@Localizer["DefaultProductToDisply"]</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class=col-md-3>
                                            <label asp-for=Input.XlSize></label>
                                            <input asp-for=Input.XlSize autocomplete=off class="form-control text-left" />
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class=col-md-3>
                                            <label asp-for=Input.LgSize></label>
                                            <input asp-for=Input.LgSize autocomplete=off class="form-control text-left" />
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class=col-md-3>
                                            <label asp-for=Input.MdSize></label>
                                            <input asp-for=Input.MdSize autocomplete=off class="form-control text-left" />
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class=col-md-3>
                                            <label asp-for=Input.SmSize></label>
                                            <input asp-for=Input.SmSize autocomplete=off class="form-control text-left" />
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class=col-md-3>
                                            <label asp-for=Input.XsSize></label>
                                            <input asp-for=Input.XsSize autocomplete=off class="form-control text-left" />
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12 text-left">
                                            <hr />
                                            <button onclick="SendForm('/@ViewData["Culture"]/Admin/ShowcaseTabSection/Add/@ViewData["ShowcaseId"]/@ViewData["ShowcaseTabId"]', 'frmAddShowcaseTabSection')" type="button" class="btn btn-success">@Localizer["Save"]</button>
                                            <button onclick="GotoList()" type="button" class="btn btn-warning">@Localizer["GotoList"]</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>

@section styles{

}

@section scripts{

<script>
    function GotoList() {
        location.href = '@ViewData["ReturnUrl"]';
    }
</script>
}