@page "/Auth/Login/Components/LoginByPhoneNumber/OTP"
@model PrancaBeauty.WebApp.Pages.Auth.Login.Components.PhoneNumberLogin.Compo_Login_PhoneNumber_OTPModel

<div class="account_form">
    <h2>@Localizer["Login"]</h2>
    <form id="compo_Login" method="post">
        <p>
            <input type="hidden" asp-for="Input.PhoneNumber" class="text-left">
        </p>
        <p>
            <label asp-for="Input.Code"></label>
            <input asp-for="Input.Code" class="text-center">
        </p>
        <div class="login_submit">
            <div class="timer" data-minutes-left="2.01"></div>
            <a class="resendbtn" onclick="Resend()" href="#Resend">@Localizer["Resend"]</a>

            <label asp-for="Input.RemmeberMe">
                <input asp-for="Input.RemmeberMe">
                @Localizer["RemmeberMe"]
            </label>
            <button onclick="SendForm('/Auth/Login/Components/LoginByPhoneNumber/OTP','compo_Login')" type="button">@Localizer["Login"]</button>
        </div>
    </form>
</div>

<script src="~/lib/countdown-timer-controls/jquery-countdown-timer-control.min.js"></script>
<script>
        $(document).ready(function () {
            $('#Input_PhoneNumber').inputmask({
                regex: '@Localizer["MobilePattern"]',
                placeholder: ''
            });

            $('#Input_Code').inputmask({
                regex: '[1-9][0-9]{4}',
                placeholder: '_'
            });

            StartTimer();
        });

    function GotoReturnUrl() {
        location.href = '@(System.Net.WebUtility.UrlDecode(ViewData["ReturnUrl"].ToString()))';
    }

    function Resend() {
        SendData('/Auth/Login/Components/LoginByPhoneNumber/OTP?handler=Resend', { PhoneNumber: $('#Input_PhoneNumber').val() });
    }

    function StartTimer() {

        $('.timer').html('');
        $('.resendbtn').hide();
        $('.timer').show();

        var Timer = $('.timer').startTimer({
            onComplete: function (element) {
                $('.resendbtn').show();
                $('.timer').hide();
            }
        }).trigger('start');
    }
</script>