@page "/{Culture}/User/EditProfile/Compo/PhoneNumberConfirmation"
@model PrancaBeauty.WebApp.Pages.User.EditProfile.Components.PhoneNumberConfirmation.Compo_PhoneNumberConfirmationModel

<div class="modal fade" id="PhoneNumberConfirmation" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Localizer["PhoneNumberConfirmation"]</h5>
            </div>
            <div class="modal-body">
                <div class="account_form">
                    @if (ViewData["ErrMsg"] != null)
                    {
                        <div class="alert alert-warning">
                            @Html.Raw(ViewData["ErrMsg"].ToString());
                        </div>
                    }
                    <form id="frmConfirmPhoneNumber" method="post" asp-antiforgery="false">
                        <p>
                            <input type="hidden" asp-for="Input.PhoneNumber" class="text-left">
                        </p>
                        <p>
                            <label asp-for="Input.Code"></label>
                            <input asp-for="Input.Code" class="text-center">
                        </p>
                        <div class="login_submit">
                            <div class="timer" data-minutes-left="2.01"></div>
                            <a class="resendbtn" onclick="Resend()" href="#Resend">@Localizer["Resend"]</a>
                        </div>
                    </form>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="CloseModal('PhoneNumberConfirmation')">@Localizer["Close"]</button>
                <button type="button" onclick="SendForm('/@ViewData["culture"]/User/EditProfile/Compo/PhoneNumberConfirmation','frmConfirmPhoneNumber')" class="btn btn-primary">@Localizer["ConfirmPhoneNumber"]</button>
            </div>
        </div>
    </div>

    <script src="~/lib/countdown-timer-controls/jquery-countdown-timer-control.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#Input_PhoneNumber').inputmask({
                regex: '@Localizer["MobilePattern"]',
                placeholder: ''
            });

            $('#Input_Code').inputmask({
                regex: '[1-9][0-9]{4}',
                placeholder: '_'
            });

            StartTimer();
        });

    function Resend() {
        SendData('/@ViewData["culture"]/User/EditProfile/Compo/PhoneNumberConfirmation?handler=Resend', { PhoneNumber: $('#Input_PhoneNumber').val() });
    }

    function StartTimer() {

        $('.timer').html('');
        $('.resendbtn').hide();
        $('.timer').show();

        var Timer = $('.timer').startTimer({
            onComplete: function (element) {
                $('.resendbtn').show();
                $('.timer').hide();
            }
        }).trigger('start');
    }
    </script>
</div>

