@page "/{culture}/Admin/Category/List"
@model PrancaBeauty.WebApp.Pages.Admin.Categories.ListModel
@{
    ViewData["Title"] = Localizer["ListCategories"];
    Layout = "~/pages/shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">@ViewData["Title"]</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="/@CultureInfo.CurrentCulture.Parent.Name/admin/index">@Localizer["Dashborad"]</a></li>
                        <li class="breadcrumb-item active">@ViewData["Title"]</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="k-lang">
                                @(Html.Kendo()
                                  .Grid<vmCategoriesList>()
                                  .Name("ListCategories")
                                  .ToolBar(a => a.ClientTemplateId("ToolbarPanel"))
                                  .DefaultSettings(Localizer)
                                  .Columns(col=> {
                                      col.Bound(a => a.Id).Hidden().HtmlAttributes(new { @class = "RowId" }).Sortable(false);
                                      col.Bound(a => a.FontIconCode).Width(60).Title(" ").ClientTemplate("<span class='FotnIconCategory' fontIcon='#=FontIconCode#'></span>").Sortable(false);
                                      col.Bound(a => a.Name).Sortable(false);
                                      col.Bound(a => a.Title).Sortable(false);
                                      col.Bound(a => a.ParentTitle).Sortable(false);
                                      col.Bound(a => a).Width(50).Title(" ")
                                                                 .HtmlAttributes(new { style= "overflow: visible; text-align: center;" })
                                                                 .ClientHeaderTemplate(User.IsInRole(Roles.CanAddCategory)? "<button class='btn btn-success btn-sm' onclick='Add()'><i class='fa fa-plus'></i></button>" : "")
                                                                 .ClientTemplateId("DropDownCmd");
                                  })
                                  .DataSource(ds=>ds.Ajax()
                                                    .PageSize(10)
                                                    .Read(read=>read.Url($"/{CultureInfo.CurrentCulture.Parent.Name}/Admin/Category/List?handler=ReadData").Data("forgeryToken"))))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>

<div class="hide" id="ToolbarPanel">
    <div class="row">
        <div class="col-md-2">
            <input type="text" onchange="Search()" asp-for="Input.Title" id="txtSearchTitle" class="form-control form-control-sm" placeholder="@Localizer["Title"]" />
        </div>

        <div class="col-md-2">
            <input type="text" onchange="Search()" asp-for="Input.ParentTitle" id="txtSearchParentTitle" class="form-control form-control-sm" placeholder="@Localizer["ParentTitle"]" />
        </div>
    </div>
</div>

<script id="DropDownCmd">
    <div class="item-action dropdown">
        <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i class="fa fa-bars fs-16 text-dark"></i></a>
        <div class="dropdown-menu dropdown-menu-left">
            @if (User.IsInRole(Roles.CanEditCategory))
            {
                <a href="/@ViewData["Culture"]/Admin/Category/Edit/#:Id#" class="dropdown-item"><i class="dropdown-icon fa fa-edit"></i>@Localizer["Edit"]</a>
            }
            @if (User.IsInRole(Roles.CanRemoveCategory))
            {
                <a onClick="Remove('#:Id#')" class="dropdown-item"><i class="dropdown-icon fa fa-times"></i>@Localizer["Remove"]</a>
            }
        </div>
    </div>
</script>

@if (User.IsInRole(Roles.CanAddCategory))
{
    <script>
        function Add() {
            location.href = '/@ViewData["Culture"]/Admin/Category/Add?ReturnUrl=@(System.Net.WebUtility.UrlEncode(Request.GetCurrentUrl()))';
        }
    </script>
}

@if (User.IsInRole(Roles.CanRemoveCategory))
{
    <script>
        function Remove(_Id) {
            RemoveData('/@ViewData["Culture"]/Admin/Category/List?handler=Remove', {Id:_Id});
        }
    </script>
}

<script>
    function RefreshData() {
        RefreshGrid('ListCategories');
    }

    function Search() {
        var _Title = $('#txtSearchTitle').val();
        var _ParentTitle = $('#txtSearchPartentTitle').val();

        var _Grid = $('#ListCategories').data('kendoGrid');
        _Grid.dataSource.transport.options.read.url = '/@CultureInfo.CurrentCulture.Parent.Name/Admin/Category/List?handler=ReadData&Title=' + _Title + '&ParentTitle=' + _ParentTitle;
        _Grid.dataSource.read();
        _Grid.refresh();
    }
</script>
