@page "/{culture}/Shared/Compo/ComboListProductReviews"
@model PrancaBeauty.WebApp.Pages.Shared.Components.Compo_ProductReviews.Compo_ListProductReviewsModel
@{
    Layout = null;
}
<div class=row>
    <div class=col-md-4>
        <div class=row>
            <div classcol-md-12></div>
            <div classcol-md-12>
                <button onclick="ShowNewReviewModal()" class="btn btn-outline-info">@Localizer["AddNewReview"]</button>
            </div>
        </div>
    </div>
    <div class=col-md-8>
        <div class="reviews_wrapper">
            @if (Model.Data.Count() == 0)
            {
                <div class="alert alert-info">
                    @Localizer["NoReviewsFound"]
                </div>
            }
            else
            {
                foreach (var item in Model.Data)
                {
                    <div class="reviews_comment_box">
                        <div class="comment_thmb">
                            <img src="@item.UserProfileImage" alt="@item.UserFullName">
                        </div>
                        <div class="comment_text">
                            <div class="reviews_meta">
                                <div class="star_rating">
                                    <button onclick="" class="btn btn-link">
                                        <i class="fa fa-thumbs-up"></i>
                                        <span>10</span>
                                    </button>
                                    <button onclick="" class="btn btn-link">
                                        <i class="fa fa-thumbs-down"></i>
                                        <span>10</span>
                                    </button>
                                </div>

                                <p>
                                    @if (item.CountStar > 0)
                                    {
                                        if (item.CountStar == 1)
                                        {
                                            <span class="count-star bg-danger">@item.CountStar</span>
                                        }

                                        if (item.CountStar == 2 || item.CountStar == 3)
                                        {
                                            <span class="count-star bg-warning">@item.CountStar</span>
                                        }

                                        if (item.CountStar == 4 || item.CountStar == 5)
                                        {
                                            <span class="count-star bg-success">@item.CountStar</span>
                                        }
                                    }
                                    <strong>@item.UserFullName </strong>- @item.Date
                                </p>

                                <pre>@item.Text</pre>

                                <div class="Advantages">
                                    <ul>
                                        @foreach (var itemAdvantages in item.Advantages.Split(','))
                                        {
                                            <li>
                                                <i class="fa fa-plus text-success"></i>
                                                <span>@itemAdvantages</span>
                                            </li>
                                        }

                                        @foreach (var itemDisAdvantages in item.DisAdvantages.Split(','))
                                        {
                                            <li>
                                                <i class="fa fa-minus text-danger"></i>
                                                <span>@itemDisAdvantages</span>
                                            </li>
                                        }
                                    </ul>
                                </div>

                                @if (item.LstMedia.Count > 0)
                                {
                                    <hr>
                                    <div class="Medias">
                                        <ul>
                                            @foreach (var itemMedia in item.LstMedia)
                                            {
                                                <li>
                                                    @if (itemMedia.MimeType.StartsWith("video/"))
                                                    {
                                                        <img onclick="PreviewVideo('@itemMedia.FileUrl')" src="" alt="@ViewData["ProductTitle"].ToString()" />
                                                    }
                                                    else if (itemMedia.MimeType.StartsWith("image/"))
                                                    {
                                                        <img onclick="PreviewImage('@itemMedia.FileUrl')" src="@itemMedia.FileUrl" alt="@ViewData["ProductTitle"].ToString()" />
                                                    }
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                }

                                @if (item.IsBuyer)
                                {
                                    <hr>
                                    @foreach (var itemSeller in item.LstSellers)
                                    {
                                        <div class="Seller">
                                            <div class=d-inline-block>
                                                <img src="/Main/img/user.png" alt="" />
                                                <span class=seller>فروشنده</span>
                                            </div>
                                            <div class=d-inline-block>
                                                <span class=attr>
                                                    <span>@Localizer["TypePurchased"]</span>:
                                                    <span>آبی</span>
                                                </span>
                                            </div>
                                        </div>
                                    }
                                }

                            </div>
                        </div>
                    </div>
                }

            }
        </div>
    </div>
    <script>
        function ShowNewReviewModal(){
            LoadComponent('/@ViewData["culture"]/Shared/Compo/ComboAddProductReview',{ProductId: '@Model.Input.ProductId',TopicId:'@Model.Input.TopicId'},function(res){
                ShowModal(res,'ModalAddNewReview');
            });
        }

        function PreviewImage(_ImgUrl)
        {
            $('#ModalImgPreview img').attr("src",_ImgUrl);
            $('#ModalImgPreview').modal();
        }

        function PreviewVideo(_VideoUrl)
        {
            $('#ModalVideoPreview video source').attr("src",_VideoUrl);
            $('#ModalVideoPreview').modal();
        }
    </script>

    <div class="modal fade" id="ModalImgPreview" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="" alt="@ViewData["ProductTitle"].ToString()" />
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ModalVideoPreview" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <video controls>
                        <source src="" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>