@page "/{culture}/Shared/Compo/ComboListProductReviews"
@model PrancaBeauty.WebApp.Pages.Shared.Components.Compo_ProductReviews.Compo_ListProductReviewsModel
@{
    Layout = null;
}
<div class=row>
    <div class=col-md-4>
        <div class=row>
            <div classcol-md-12></div>
            <div classcol-md-12>
                <button onclick="ShowNewReviewModal()" class="btn btn-outline-info">@Localizer["AddNewReview"]</button>
            </div>
        </div>
    </div>
    <div class=col-md-8>
        <div class="reviews_wrapper">
            @if (Model.Data.Count() == 0)
            {
                <div class="alert alert-info">
                    @Localizer["NoReviewsFound"]
                </div>
            }
            else
            {
                foreach (var item in Model.Data)
                {
                    <div class="reviews_comment_box">
                        <div class="comment_thmb">
                            <img src="@item.UserProfileImage" alt="@item.UserFullName">
                        </div>
                        <div class="comment_text">
                            <div class="reviews_meta">
                                <div class="star_rating">
                                    <button onclick="" class="btn btn-link">
                                        <i class="fa fa-thumbs-up"></i>
                                        <span>10</span>
                                    </button>
                                    <button onclick="" class="btn btn-link">
                                        <i class="fa fa-thumbs-down"></i>
                                        <span>10</span>
                                    </button>
                                </div>
                                <p><span class=count-star>@item.CountStar</span><strong>@item.UserFullName </strong>- @item.Date</p>
                                <pre>@item.Text</pre>
                            </div>
                        </div>
                    </div>
                }

            }
        </div>
    </div>
    <script>
        function ShowNewReviewModal(){
            LoadComponent('/@ViewData["culture"]/Shared/Compo/ComboAddProductReview',{ProductId: '@Model.Input.ProductId',TopicId:'@Model.Input.TopicId'},function(res){
                ShowModal(res,'ModalAddNewReview');
            });


        }
    </script>
</div>