@page "/{culture}/Shared/Compo/ComboListProductReviews"
@model PrancaBeauty.WebApp.Pages.Shared.Components.Compo_ProductReviews.Compo_ListProductReviewsModel
@{
    Layout = null;
}
<div class=row>
    <div class=col-md-4>
        <div class=row>
            <div class=col-md-12>
                @foreach (var item in Model.Data.LstAttributes)
                {
                    <div class=row>
                        <div class=col-md-12>
                            <div class=form-group>
                                <label>@item.Title</label>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                                     aria-valuenow="@(item.Avg*20)" aria-valuemin="0" aria-valuemax="100" style="width:@(item.Avg*20)%">
                                        @(item.Avg*20)%
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class=col-md-12>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class=form-group>
                        <button onclick="ShowNewReviewModal()" class="btn btn-outline-info btn-block">@Localizer["AddNewReview"]</button>
                    </div>
                }
                else
                {
                    <div class="btnLoginArea">
                        <span class="text-danger text-center">
                            @Localizer["PleaseLoginForAddNewReview"]
                        </span>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class=col-md-8>
        <div class="reviews_wrapper">
            @if (Model.Data.LstReviews.Count() == 0)
            {
                <div class="alert alert-info">
                    @Localizer["NoReviewsFound"]
                </div>
            }
            else
            {
                <div class="lstMedia">
                    <ul id=lstMedia>
                        @foreach (var item in Model.Data.LstMedias)
                        {
                            <li>
                                @if (item.MimeType.StartsWith("video/"))
                                {
                                    <img onclick="PreviewVideo('@item.FileUrl')" src="~/Shared/img/video-img.jpg" alt="@Model.Data.ProductTitle" />
                                }
                                else if (item.MimeType.StartsWith("image/"))
                                {
                                    <img onclick="PreviewImage('@item.FileUrl','textComment@(item.CommentId)')" src="@item.FileUrl" alt="@Model.Data.ProductTitle" />
                                }
                            </li>
                        }

                    </ul>
                </div>
                foreach (var item in Model.Data.LstReviews)
                {
                    <div class="reviews_comment_box">
                        <div class="comment_thmb">
                            <img src="@item.UserProfileImage" alt="@item.UserFullName">
                        </div>
                        <div class="comment_text @(item.IsConfirm==false?"NotConfirmed":"")">
                            <div class="reviews_meta">
                                <div id="textComment@(item.Id)">
                                    <div class="star_rating">
                                        @if (item.IsConfirm)
                                        {
                                            <button onclick="Like('@item.Id')" class="btn btn-link @(item.IsLike?"IsLike":"")">
                                                <i class="fa fa-thumbs-up"></i>
                                                <span id="Like@(item.Id)">@item.CountLikes</span>
                                            </button>

                                            <button onclick="DisLike('@item.Id')" class="btn btn-link @(item.IsDisLike?"IsDisLike":"")">
                                                <i class="fa fa-thumbs-down"></i>
                                                <span id="DisLike@(item.Id)">@item.CountDislike</span>
                                            </button>

                                            <button onclick="ChangeStatus('@item.Id')" class="btn btn-link">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        }

                                        <button onclick="ChangeStatus('@item.Id')" class="btn btn-link @(item.IsLike?"IsLike":"")">
                                            <i class="fa fa-check"></i>
                                        </button>

                                        <button onclick="MoveToTrash('@item.Id')" class="btn btn-link @(item.IsLike?"IsLike":"")">
                                            <i class="fa fa-trash"></i>
                                        </button>

                                    </div>

                                    <p>
                                        @if (item.CountStar > 0)
                                        {
                                            if (item.CountStar == 1)
                                            {
                                                <span class="count-star bg-danger">@item.CountStar</span>
                                            }

                                            if (item.CountStar == 2 || item.CountStar == 3)
                                            {
                                                <span class="count-star bg-warning">@item.CountStar</span>
                                            }

                                            if (item.CountStar == 4 || item.CountStar == 5)
                                            {
                                                <span class="count-star bg-success">@item.CountStar</span>
                                            }
                                        }
                                        <strong>@item.UserFullName </strong>- @item.Date
                                    </p>

                                    <pre>@item.Text</pre>

                                    <div class="Advantages">
                                        <ul>
                                            @foreach (var itemAdvantages in item.Advantages.Split(','))
                                            {
                                                <li>
                                                    <i class="fa fa-plus text-success"></i>
                                                    <span>@itemAdvantages</span>
                                                </li>
                                            }

                                            @foreach (var itemDisAdvantages in item.DisAdvantages.Split(','))
                                            {
                                                <li>
                                                    <i class="fa fa-minus text-danger"></i>
                                                    <span>@itemDisAdvantages</span>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                                @if (item.LstMedia.Count > 0)
                                {
                                    <hr>
                                    <div class="Medias">
                                        <ul>
                                            @foreach (var itemMedia in item.LstMedia)
                                            {
                                                <li>
                                                    @if (itemMedia.MimeType.StartsWith("video/"))
                                                    {
                                                        <img onclick="PreviewVideo('@itemMedia.FileUrl')" src="~/Shared/img/video-img.jpg" alt="@Model.Data.ProductTitle" />
                                                    }
                                                    else if (itemMedia.MimeType.StartsWith("image/"))
                                                    {
                                                        <img onclick="PreviewImage('@itemMedia.FileUrl','textComment@(item.Id)')" src="@itemMedia.FileUrl" alt="@Model.Data.ProductTitle" />
                                                    }
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                }

                                @if (item.IsBuyer)
                                {
                                    <hr>
                                    @foreach (var itemSeller in item.LstSellers)
                                    {
                                        <div class="Seller">
                                            <div class=d-inline-block>
                                                <img src="/Main/img/user.png" alt="" />
                                                <span class=seller>فروشنده</span>
                                            </div>
                                            <div class=d-inline-block>
                                                <span class=attr>
                                                    <span>@Localizer["TypePurchased"]</span>:
                                                    <span>آبی</span>
                                                </span>
                                            </div>
                                        </div>
                                    }
                                }

                            </div>
                        </div>
                    </div>
                }

                <div class=paging>
                    @{
                        var CommentPaging = Model.PagingData;
                    }
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a onclick="GotoCommentPage('@(CommentPaging.Page - 1 <= 0 ? 1 : CommentPaging.Page - 1)')" class="page-link" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>

                            @for (var i = CommentPaging.StartPage; i <= CommentPaging.EndPage; i++)
                            {
                                <li class="page-item @(CommentPaging.Page==i?"active":"")"><a onclick="GotoCommentPage('@i')" class="page-link">@i</a></li>
                            }

                            <li class="page-item">
                                <a onclick="GotoCommentPage('@(CommentPaging.Page + 1 >CommentPaging.CountAllPage ? CommentPaging.CountAllPage : CommentPaging.Page + 1)')" class="page-link" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            }
        </div>
    </div>
    <script>
        @if (User.Identity.IsAuthenticated)
        {
            <text>
                                                                function ShowNewReviewModal() {
                                                                    LoadComponent('/@ViewData["culture"]/Shared/Compo/ComboAddProductReview',{ ProductId: '@Model.Input.ProductId',TopicId: '@Model.Input.TopicId'},function(res){
                                                                        ShowModal(res, 'ModalAddNewReview');
                                                                    });
                                                                }
            </text>
        }

        function PreviewImage(_ImgUrl,_textCommentId)
        {
            $('#ModalImgPreview img').attr("src",_ImgUrl);
            $('#ModalImgPreview #textImgComment').html($('#'+_textCommentId).html());
            $('#ModalImgPreview').modal();
        }

        function PreviewVideo(_VideoUrl)
        {
            $('#ModalVideoPreview video source').attr("src",_VideoUrl);
            $('#ModalVideoPreview #textVideoComment').html($('#'+_textCommentId).html());
            $('#ModalVideoPreview').modal();
        }

        function GotoCommentPage(_Page){
            LoadComponent('/@ViewData["culture"]/Shared/Compo/ComboListProductReviews',{ ProductId:'@Model.Input.ProductId', TopicId:'@Model.Input.TopicId' ,PageNum:_Page },function(res){
                $('#LstReviews').html(res);
            });
        }

        function Like(_ReviewId)
        {
            SendData('/@ViewData["culture"]/Shared/Compo/ComboListProductReviews?handler=Like',{ ReviewId:_ReviewId },function(res){

                if(res.Count==-1)
                {
                    //$('#Like'+_ReviewId).text(res.Count);
                    $('#Like'+_ReviewId).parent('.btn').css('text-decoration','underline');
                }
                else if(res.Count==-2)
                {
                    Alert('',PleaseLogin,'error');
                }
                else
                {
                    $('#Like'+_ReviewId).text(res.Count);
                    if(res.IsLike==true)
                    {
                       //if($('#Like'+_ReviewId).parent('.btn').hasClass('IsLike'))
                       //{
                       //    $('#Like'+_ReviewId).parent('.btn').removeClass('IsLike');
                       //}
                       //else
                       //{
                           $('#Like'+_ReviewId).parent('.btn').addClass('IsLike');
                       //}
                    }
                    else
                    {
                        $('#Like'+_ReviewId).parent('.btn').removeClass('IsLike');
                    }
                }
            });
        }

        function DisLike(_ReviewId)
        {
            SendData('/@ViewData["culture"]/Shared/Compo/ComboListProductReviews?handler=DisLike',{ ReviewId:_ReviewId },function(res){

                if(res.Count==-1)
                {
                    //$('#DisLike'+_ReviewId).text(res.Count);
                    $('#DisLike'+_ReviewId).parent('.btn').css('text-decoration','underline');
                }
                else if(res.Count==-2)
                {
                    Alert('',PleaseLogin,'error');
                }
                else
                {
                    $('#DisLike'+_ReviewId).text(res.Count);
                    if(res.IsLike==true)
                    {
                       //if($('#DisLike'+_ReviewId).parent('.btn').hasClass('IsDisLike'))
                       //{
                       //    $('#DisLike'+_ReviewId).parent('.btn').removeClass('IsDisLike');
                       //}
                       //else
                       //{
                           $('#DisLike'+_ReviewId).parent('.btn').addClass('IsDisLike');
                       //}
                    }
                    else
                    {
                        $('#DisLike'+_ReviewId).parent('.btn').removeClass('IsDisLike');
                    }
                }
            });
        }

        function ChangeStatus(_Id)
        {
            SendData('/@ViewData["culture"]/Shared/Compo/ComboListProductReviews?handler=ChangeStatus',{ReviewId:_Id});
        }

        function MoveToTrash(_Id)
        {

        }
    </script>

    <div class="modal fade" id="ModalImgPreview" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class=row>
                        <div class=col-md-7>
                            <img src="" alt="@Model.Data.ProductTitle" />
                        </div>
                        <div class="col-md-5">
                            <div class="reviews_comment_box noBorder">
                                <div class=comment_text id=textImgComment></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ModalVideoPreview" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class=row>
                        <div class=col-md-7>
                            <video controls>
                                <source src="" type="video/mp4">
                            </video>
                        </div>
                        <div class="col-md-5">
                            <div class="reviews_comment_box noBorder">
                                <div class=comment_text id=textVideoComment></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>