@page "/{Culture}/User/EditProfile"
@model PrancaBeauty.WebApp.Pages.User.EditProfile.EditProfileModel
@{
    ViewData["Title"] = Localizer["EditProfile"];
    Layout = "~/Pages/Shared/_UserLayout.cshtml";
}

@section breadcrumbs{
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="/@ViewData["Culture"]">@Localizer["Home"]</a></li>
                            <li><a href="/@ViewData["Culture"]/User/Index">@Localizer["Dashboard"]</a></li>
                            <li>@Localizer["EditProfile"]</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">@Localizer["AccountSetting"]</div>
                    <div class="card-body">
                        <LoadComponent url="/@ViewData["Culture"]/User/EditProfile/Compo/AccountSettings"
                                       id="CompoAccountSetting"
                                       context="HttpContext"></LoadComponent>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4" id="CompoChangePasswordAnchor">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">@Localizer["Security"]</div>
                    <div class="card-body">
                        <LoadComponent url="/@ViewData["Culture"]/User/EditProfile/Compo/ChangePassword"
                                       id="CompoChangePassword"
                                       context="HttpContext"></LoadComponent>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">@Localizer["EditAddress"]</div>
                    <div class="card-body"></div>
                </div>
            </div>
        </div>
    </div>
</div>